{% extends 'new_index/base1.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block extrahead %}
<style>
    .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }
</style>
{% endblock %}
<body style="background: rgb(246,248,252);">
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    <div class="container" style="padding-top: 0px;">
        <div class="row">
            <div class="col">
                <h1 style="color: rgb(0,114,228);font-size: 24px;font-weight: bold;">Istilah Lelang<br></h1>
                <hr>
            </div>
        </div>

        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link text-bold" href="/setting_portal/banner_slide/" role="tab" aria-selected="false">Banner Slide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/setting_portal/istilah_lelang/" role="tab">Istilah Lelang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bold" href="/setting_portal/istilah_lelang/" role="tab">Aturan Lelang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bold" href="/setting_portal/istilah_lelang/" role="tab">History Lelang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bold" href="/setting_portal/istilah_lelang/" role="tab">Informasi Lelang Mancanegara</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent p-3"></div>
                <div class="card" style="padding-bottom: 0px;">
                    <div class="card-body" style="margin-bottom: 0px;padding-bottom: 16pxpx;">
                    <div class="row" style="padding-bottom: 14px;padding-top: 7px;">
                    <div class="col"><input type="text" class="cari form-control form-control-sm" placeholder="Cari" style="width: 222px;height: 36px; border-radius: 10px;border-color: #007bff;"></div>
                    <div class="col tombol" style="display: inline-flex;display: inline-flex;flex-wrap: nowrap;flex-direction: row;align-items: center;justify-content: flex-end;"><button class="btn btn-primary" type="button" style="padding-right: 21px;padding-left: 21px;font-weight: bold;background: rgb(0,114,228);" data-toggle="modal" data-target="#myModal">+ Tambah</button></div>
                </div>
                    <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="color: #444444;">No</th>
                                                <th style="text-align: center;color: #444444;">Istilah</th>
                                                <th style="text-align: center;color: #444444;">Keterangan</th>
                                                <th style="text-align: center;color: #444444;">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="background: #edf5fd;">
                                                <td style="padding-top: 0px;color: #606060;">1</td>
                                                <td style="text-align: center;padding-top: 0px;color: #606060;">SMRA<br></td>
                                                <td style="color: rgb(0,114,228);text-align: center;padding-top: 0px;">Lihat<br></td>
                                                <td style="text-align: center;padding-top: 0px;"><div style="display: flex; justify-content: center;"><i hx-get="/userman/tim_lelang/edit/attr: {\'id\': $data.getProperty($parent)}\" class="edit badge mr-1" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\" value="Edit" style="border-color:white;"><i class="fa-solid fa-pen" style="color: #0068f0;"></i></i><i class="delete badge  mr-1" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\" value="Delete" style= "border-color:white;"><i class="fa-regular fa-trash-can" style="color: #ff0040;"></i></i></div></td>
                                            </tr>
                                            <tr>
                                                <td style="color: #606060;">2</td>
                                                <td style="text-align: center;color: #606060;">CCA<br></td>
                                                <td style="color: rgb(0,114,228);text-align: center;">Lihat<br></td>
                                                <td style="text-align: center;"><div style="display: flex; justify-content: center;"><i hx-get="/userman/tim_lelang/edit/attr: {\'id\': $data.getProperty($parent)}\" class="edit badge mr-1" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\" value="Edit" style="border-color:white;"><i class="fa-solid fa-pen" style="color: #0068f0;"></i></i><i class="delete badge  mr-1" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\" value="Delete" style= "border-color:white;"><i class="fa-regular fa-trash-can" style="color: #ff0040;"></i></i></div></td>
                                            </tr>
                                            <tr style="background: #EDF5FD;">
                                                <td style="color: #606060;">3</td>
                                                <td style="text-align: center;color: #606060;">Istilah a<br></td>
                                                <td style="color: rgb(0,114,228);text-align: center;">Lihat<br></td>
                                                <td style="text-align: center;"><div style="display: flex; justify-content: center;"><i hx-get="/userman/tim_lelang/edit/attr: {\'id\': $data.getProperty($parent)}\" class="edit badge mr-1" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\" value="Edit" style="border-color:white;"><i class="fa-solid fa-pen" style="color: #0068f0;"></i></i><i class="delete badge  mr-1" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\" value="Delete" style= "border-color:white;"><i class="fa-regular fa-trash-can" style="color: #ff0040;"></i></i></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav style="margin-top: 13px;">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>   <!-- /.card -->
        </div>
    </div>
     <!-- modal -->
     <div id="myModal" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-lg">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="color:#0068f0">Tambah Istilah Lelang</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="form_survey"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Simpan</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>
{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            var surveyJSON = {
                "title": "Pertanyaan",
                "logoPosition": "right",
                "pages": [
                    {
                    "name": "page1",
                    "elements": [
                    {
                    "type": "panel",
                    "name": "panel1",
                    "elements": [
                    {
                    "type": "text",
                    "name": "nama",
                    "title": "Nama Istilah",
                    "hideNumber": true
                    },
                    {
                    "type": "comment",
                    "name": "keterangan",
                    "title": "Keterangan",
                    "hideNumber": true
                    },
                    
                    ]
                    }
                ],
                 }
                ],
                "showTitle": false,
                "showCompletedPage": false,
                "showPageNumbers": true,
                "showQuestionNumbers": "off",
                "questionTitleLocation": "top",
                "completeText": "Simpan",
                "widthMode": "responsive"
               };
        
               $("#form_survey").Survey({
            model: new Survey.Model(surveyJSON),
            onComplete: function (survey, options) {
                // Handle survey completion here
                console.log(survey.data);
            }
        });
        });
    </script>
  
    {% endblock %}