{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>

</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    
    <div class="row jdl_atas_background">
        <div class="col-md-12"> 
            <span class="jdl_atas">Negosiasi &gt; Revisi Penawaran</span>
        </div>
    
        <br><br>
        {% if user_type == "C" %}
        {% add_judul_auctioner user.id item_lelang.id "/negosiasi/revisi_penawaran/" %}
        {% elif user_type == "V" %}
        {% add_judul_viewer user.id item_lelang.id "/negosiasi/revisi_penawaran/" %}
        {% elif user_type == "A" %}
        {% add_judul_admin user.id item_lelang.id "/negosiasi/revisi_penawaran/" %}
        {% endif %}
                    
    </div>
     <br>
    <div class="col tabs_bc">       
        {% include "tabs_all.html" %}
    </div>
    <p style="display: none;" text="{{user.id}}" id="tricky_user_id"></p>
    <p style="display: none;" id="tricky_user_bidder_id"></p>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}

<script>
var item_lelang;
$(document).ready(function() {
    {% include "js/js_temp_all.html" %}
});

</script>
{% endblock %}