{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}

{% block extrahead %}
<style>
    /* .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }

    
    a.active {
        border-bottom: 2px solid blue!important;
        background-color:transparent!important;
    }

    .nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
    }
    .nav-link:hover {
    color: #55c57a;
    }

    .nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    }

    /* ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
    } */

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }
    .card-footer{
        display: none;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    {% comment %} <div class="container-fluid"> {% endcomment %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h1 style="color: rgb(0,114,228);font-size: 24px;font-weight: bold;">Manajemen Negosiasi		
                            </h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                        <div class="form-group form-inline">
                                            <label for="nmlelang">Judul Seleksi&nbsp;</label>
                                            <select class="form-control" id="nmlelang" style="width:600px" ></select>
                                            <input type="hidden" id="item_lelang">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">        
            <div class="row">
                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#detil" role="tab">Detail Lelang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#home" role="tab">Obyek Lelang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#giat" role="tab">Penyampain Penawaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dasar" role="tab">Berita Acara</a>
                    </li>
                   
                </ul>
                <!-- Tab panes -->
                <div class="tab-content col-md-12">
                    <div class="tab-pane active" id="detil" role="tabpanel">
                        <div class="card p-3">   
                            <div class="container px-5 my-5" id="item_lelang_display" >
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="home" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Obyek Lelang&nbsp;</h2>
                                        <!-- <button class="btn btn-primary" style="margin-left: 20px;">+ Tambah Obyek</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="obyek" class="dt">
                                        <thead>
                                            <tr>
                                                <th>Band</th>
                                                <th>Rentang Frekuensi</th>
                                                <th>Teknologi</th>
                                                <th>Reserved Price</th>
                                                <th>Eligibility/Block</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="giat" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Penyampain Penawaran&nbsp;</h2>
                                        <button id="tambah_penawaran" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="p_penawaran" class="dt">
                                        <thead>
                                            <tr>
                                                <th>Harga</th>
                                                <th>Bidder</th>
                                                <th>Penawaran</th>
                                                <th>Dokumen Penawaran</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="dasar" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Berita Acara</h2>
                                        <button id="tambah_negoisasi" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="ba-nego" class="dt">
                                        <thead>
                                            <tr>
                                                <th>Dokumen Ba</th>                        
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-form@4.3.0/dist/jquery.form.min.js"></script>
<script>
var item_lelang;
$(document).ready(function() {
        $('#nmlelang').select2({
        ajax: {
        url: '/adm_lelang/api/v1/item_lelang',
        processResults: function (data) {
            return {results: $.map(data.results, function (item) {
                return {
                    text: item.nama_lelang,
                    id: item.id
                    }
                })
            }}
        }
    });
    function loadData(id) {
        $.ajax({
            url: '/adm_lelang/adm_lelang/detail_itemlelang2/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#obyek");
                table.empty();
                table.append(data);
                $("#obyek").DataTable();
            }
        });
    }
    
      //  load data
      function load_itemlelang_form(data) {
        checkRecord({        
            drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
            onSuccess: function(response) {
                loadForm({
                    element_id: "#item_lelang_display",
                    form_id: "#item_lelang_form",
                    formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
                    drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
                    method: 'PUT',
                    onSuccess: function(response) {
                    }
                });
            },
            onError: function(response) {
                loadForm({
                    element_id: "#item_lelang_display",
                    form_id: "#item_lelang_form",
                    formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
                    drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
                    onSuccess: function(response) {
                    }
                });
            }
        });
    }
    function loadData2(id) {
        $.ajax({
            url: '/negosiasi/nego/penyampaian_penawaran/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#p_penawaran");
                table.empty();
                table.append(data);
                $("#p_penawaran").DataTable();
            }
        });
    }
    function loadData3(id) {
        $.ajax({
            url: '/negosiasi/nego/berita_acara_nego/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#ba-nego");
                table.empty();
                table.append(data);
                $("#ba-nego").DataTable();
            }
        });
    }
    let id_item_lelang = null;
    $('#nmlelang').on('select2:select', function (e) {
        id_item_lelang = e.params.data.id;
        $("#item_lelang").val(id_item_lelang);
        var id = e.params.data.id;
        loadData(id)
        loadData2(id)
        loadData3(id)
        load_itemlelang_form(id)
    });
    $(".dt").DataTable({paging: false, ordering: false,info: false,searching: false});
    $("#item_lelang").ajaxForm({
        dataType:  'json', 
        success:   function(data) {console.log(data)},
        beforeSubmit: function(arr, $form, options) {
            console.log(arr);
            console.log($form);
            console.log(options);
        }      
    }); 

    // ditambahin objek seleksi(model detail item lelang)//
    // create
    $("#tambah_penawaran").click(function() { 
        showModal({
            formURL: "/negosiasi/nego/modal_penyampain_penawaran/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/negosiasi/api/v1/penyampaian_penawaran/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData2(document.getElementById('item_lelang').value);
            }
        });
    });
    // edit
    $("#p_penawaran").on("click",".penawaran_update",function() {
        showModal({
            formURL: "/negosiasi/nego/modal_update_penyampain_penawaran/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/negosiasi/api/v1/penyampaian_penawaran/"+this.id+"/",

            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData2(document.getElementById('item_lelang').value);
            }
        })
    });
    // hapus
    $("#p_penawaran").on("click",".penawaran_delete",function() {
        Swal.fire({
            icon: 'warning',
            title: 'Hapus data',
            text: "Ingin menghapus data ini ?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: '/negosiasi/api/v1/penyampaian_penawaran/'+this.id+'/',
                    contentType : 'application/json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType : 'json',
                    success: function (data) {
                        swal.fire({
                            title: "Data Terhapus !",
                            text: "",
                            icon: "success"
                        }).then(function() {
                            loadData2(document.getElementById('item_lelang').value);
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } else if (result.isDenied) {

            }
        })
    });

    // ditambahin
    // create
    $("#tambah_negoisasi").click(function() { 
        showModal({
            formURL: "/negosiasi/nego/modal_berita_acara/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/negosiasi/api/v1/berita_acara_nego/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData3(document.getElementById('item_lelang').value);
            }
        });
    });
    // edit
    $("#ba-nego").on("click",".ba_update",function() {
        showModal({
            formURL: "/negosiasi/nego/modal_update_berita_acara/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/negosiasi/api/v1/berita_acara_nego/"+this.id+"/",

            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData3(document.getElementById('item_lelang').value);
            }
        })
    });
    // hapus
    $("#ba-nego").on("click",".ba_delete",function() {
        Swal.fire({
            icon: 'warning',
            title: 'Hapus data',
            text: "Ingin menghapus data ini ?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: '/negosiasi/api/v1/berita_acara_nego/'+this.id+'/',
                    contentType : 'application/json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType : 'json',
                    success: function (data) {
                        swal.fire({
                            title: "Data Terhapus !",
                            text: "",
                            icon: "success"
                        }).then(function() {
                            loadData3(document.getElementById('item_lelang').value);
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } else if (result.isDenied) {

            }
        })
    });
});
</script>
{% endblock %}