{% load widget_tweaks %}
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
            <h3 class="modal-title">Berita Acara</h5>
            <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
		</div>
		<div class="modal-body">
            <p id="data_modal" style="display: none;">edit_dokesel</p>
            <form id="coba" enctype="multipart/form-data">
                {% csrf_token %}
                {% render_field form.item_lelang %}
                <div class="card-body">
                    <div class="form-group">
                        <label  class="nama_label">Nomor</label>
                        {% render_field form.nomor|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label  class="nama_label">Judul</label>
                        {% render_field form.judul|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label  class="nama_label">Tanggal</label>
                        {% render_field form.tanggal|add_class:"form-control" type="date" %}
                    </div>
                    <div class="form-group">
                        <label  class="nama_label">Keterangan</label>
                        {% render_field form.keterangan|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Dokumen Berita Acara</label>
                        {% render_field form.dokumen_BA|add_class:"form-control" type="file" %}
                    </div>
                    <div class="form-group">
                        <label for="id_nomor"  class="nama_label">Bidder</label>
                        {% render_field form.bidder|add_class:"form-control select2bs4" style="width: 100%;"%}
                    </div>
                    <div class="form-group">
                        <label for="id_nomor"  class="nama_label">Auctioneer</label>
                        {% render_field form.auctioneer|add_class:"form-control select2bs4" style="width: 100%;"%}
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label for="id_nomor"  class="nama_label">Owner</label>
                    <select name="owner" class="form-control" id="id_owner">
                        <option value="SAMPUL2" selected>sampul2</option>
                    </select>
                </div>
                <div class="" style="text-align: right;">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                    <input type="submit" class="btn btn-primary" value="Simpan">
                </div>
            </form>
        </div>
	  </div>
	</div>
  </div>