{% load mptt_tags %}
<div id="mySidenav" class="sidebar collapse">
<ul class="nav nav-pills" id="menu">
    {% recursetree menu %}
        <li>
            {% if children %}
            <a href="#{{ node.slug }}" class="nav-link" data-bs-toggle="collapse" aria-expanded="true">
                <i class="{{ node.icon_class }}"></i><span class="ms-1">{{ node.name }}</span>
            </a>
            <ul class="collapse show nav flex-column ms-1" id="{{ node.slug }}" data-bs-parent="#menu">
                {% if not node.is_leaf_node %}
                   {{ children }}
                {% endif %}
            </ul>                            
            {% else %}
            <a href="{% if node.link %} {{ node.link }} {% else %} #{{ node.slug }} {% endif %}" class="nav-link">
                {{ node.name }}
            </a>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</div>

