{% extends "../../base.html" %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/koGrid.css" >
<link rel="stylesheet" type="text/css" href="/static/css/survey-ui.min.css" >
<style>
    .navbar {
        height: 64px;
        background-color: #007bff;
      }
    .brand-img {
        height: 51.94px;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    .footer_bg {
        background: url(/static/img/portal/background-footer.png);
    }
    .banner {
        background: url(/static/img/portal/background-slider.png);
        height: 768px;
        width: 100%;
    }
    .logobesar {
        position: absolute;
        left: 85;
        top: 209;
    }
    .portal_penjelasan {
        position: absolute;
        left: 85;
        top: 411;
        width: 643;
    }
    .button_yuk_mulai {
        position: absolute;
        left: 85;
        top: 520;
        width: 133;
    }
    .sdppi_side {
        position: absolute;
        right: 0;
        top: 652;
    }
    .bi {
        vertical-align: -.125em;
        pointer-events: none;
        fill: currentColor;
      }
      .nav-flush .nav-link {
        border-radius: 0;
      }
    .gridStyle {
        border: 1px solid rgb(255, 255, 255);
        width: 100%; 
        height: 300px;
        float: left;
    }
    .KgTopPanel{
        background-color: white;
    }
    .KgFooterPanel{
        background-color: white;
    }
    .kgRow.even{
        background-color: #edf5fd;
    }
    .KgRow.Even.selected{
	background-color: rgb(189, 208, 203);
	}
</style>
{% endblock %}
{% block navbar %}
{% include "component/navbar_super.html" %}
{% endblock %}
{% block content %}
<div class="row" style="
margin-left: 0px;
margin-right: 0px;">
    <div class="col col-md-1 bg-light" style="width:4.5rem;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center pt-5">
            <li class="nav-item">
                <a href="/" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="/userman/users/" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Users Management">
                    <i class="fa fa-user"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="/userman/bidder/" class="nav-link active py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Bidder Management">
                    <i class="fa fa-users"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="/userman/tim_lelang/" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Auctioner Management">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Viewer Management">
                    <i class="fa fa-user-secret"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Place Bid">
                    <i class="fa fa-usd"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Activity">
                    <i class="fa fa-line-chart"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Round Summary">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Posted Result">
                    <i class="fa fa-id-card"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Messages">
                    <i class="fa fa-comments"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Schedules">
                    <i class="fa fa-calendar"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Download">
                    <i class="fa fa-download"></i>
                </a>
            </li>
            <li>
                <a href="/accounts/logout/" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Logout">
                    <i class="fa fa-power-off"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col col-md-11">
        <div class="row">
            <div class="col" style="">
                <div class="card" style="top: 20px;">
                    <div style="font-size: 24px; font-weight: bold; color: #007bff; padding: 20px">
                        Master Data
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 15px">
            <div class="card mt-5" style="left: 15px;" id="management_block">
                <div class="card-header" style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;flex-wrap: nowrap; background-color: white;">
                    <div class="h4 float-start">List Akun Terdaftar</div>
                    <div hx-target="#management_block" hx-swap="outerHTML">
                        <button type="button" class="btn btn-outline-primary rounded"> <i class="fas fa-plus-circle" aria-hidden="true"></i> Tambah Perwakilan</button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="bidderlist" class="gridStyle" data-bind="koGrid: gridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "component/footer.html" %}
{% endblock %}
{% block modal %}
<div class="modal fade" id="modalPage" aria-hidden="true" aria-labelledby="modalPage" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="form_survey"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
(function () {
    'use strict'
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })()
</script>
<script>
    $(document).ready(function() {
        function mainVm(){
            var self = this; 
            this.myData = ko.observableArray([]);
        
            this.filterOptions = {
                filterText: ko.observable(""),
                useExternalFilter: true
            };
            this.mySelectedData = ko.observableArray([]);
            this.pagingOptions = {
                pageSizes: ko.observableArray([3, 5, 7]),
                pageSize: ko.observable(5),
                totalServerItems: ko.observable(0),
                currentPage: ko.observable(1)     
            };
        
            this.setPagingData = function(data, page, pageSize){	
                //var pagedData = data.slice((page - 1) * pageSize, page * pageSize);
                self.myData(data.results);
                self.pagingOptions.totalServerItems(data.count);
            };
        
            this.getPagedDataAsync = function (pageSize, page, searchText) {
                setTimeout(function () {
                    var data;
                    if (searchText) {
                        var ft = searchText.toLowerCase();
                        $.getJSON('/userman/api/v1/bidder/?format=json', function (largeLoad) {		
                            data = largeLoad.filter(function(item) {
                                return JSON.stringify(item).toLowerCase().indexOf(ft) != -1;
                            });
                            self.setPagingData(data,page,pageSize);
                        });            
                    } else {
                        $.getJSON('/userman/api/v1/bidder/?format=json', function (largeLoad) {
                            self.setPagingData(largeLoad,page,pageSize);
                        });
                    }
                }, 100);
            };
        
            self.filterOptions.filterText.subscribe(function (data) {
                self.getPagedDataAsync(self.pagingOptions.pageSize(), self.pagingOptions.currentPage(), self.filterOptions.filterText());
            });   

            self.pagingOptions.pageSizes.subscribe(function (data) {
                self.getPagedDataAsync(self.pagingOptions.pageSize(), self.pagingOptions.currentPage(), self.filterOptions.filterText());
            });
            self.pagingOptions.pageSize.subscribe(function (data) {
                self.getPagedDataAsync(self.pagingOptions.pageSize(), self.pagingOptions.currentPage(), self.filterOptions.filterText());
            });
            self.pagingOptions.totalServerItems.subscribe(function (data) {
                self.getPagedDataAsync(self.pagingOptions.pageSize(), self.pagingOptions.currentPage(), self.filterOptions.filterText());
            });
            self.pagingOptions.currentPage.subscribe(function (data) {
                self.getPagedDataAsync(self.pagingOptions.pageSize(), self.pagingOptions.currentPage(), self.filterOptions.filterText());
            });
        
            self.getPagedDataAsync(self.pagingOptions.pageSize(), self.pagingOptions.currentPage());
            this.gridOptions = {
                data: self.myData,
                enablePaging: true,
                displaySelectionCheckbox: false,
                showColumnMenu: false,
                pagingOptions: self.pagingOptions,
                filterOptions: self.filterOptions,
                selectedItems: self.mySelectedData,
                multiSelect: true,
                columnDefs: [
                    // {field: 'no', displayName:'No', width:50, Template:'data-bind=selectedItems + 1'},
                    {field: 'nama_perusahaan', displayName: 'Nama Perusahaan'},
                    {field: 'alamat_perusahaan', displayName: 'Alamat'},
                    {field: 'jenis_penyelenggara', displayName: 'Jenis Penyelenggara'},
                    {field: 'telp_perusahaan', displayName: 'Telp'},
                    {field: 'email_perusahaan', displayName: 'Email'},
                    {field: 'nib_perusahaan', displayName: 'NIB'},
                    {field: 'active', displayName: 'Status', cellTemplate:'<span data-bind="if: $data.getProperty($parent)">Active</span><span data-bind="ifnot: $data.getProperty($parent)">Inactive</span>'},
                    {field: 'id', displayName: 'Aksi', cellTemplate:'<div style="display: flex; justify-content: center;"><button class="edit badge mr-1"  style= "border-color:white;" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\"><i class="fa fa-pen" style="color: #0068f0;"></i></button>&nbsp;&nbsp;<button class="delete badge  mr-1"  style= "border-color:white;" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\"><i class="fa-regular fa-trash-can" style="color: #ff0040;"></i></button>&nbsp;&nbsp;<button class="deactive badge mr-1" style= "border-color:white;" data-bs-toggle="tooltip" data-bs-placement="top" title="Change Status" data-bind=\"attr: {\'id\': $data.getProperty($parent)}\" value="Deactivate"><i class="fas fa-user-slash" style="color: #17a2b8"></i></button></div>'}],
                afterSelectionChange: function(){ 
                    console.log(self.mySelectedData()[0]);
                }
            };
        };
        var myvm = new mainVm();
        ko.applyBindings(myvm, document.getElementById("management_block"));
        var json = {
            "title": "Pertanyaan",
            "logoPosition": "right",
            "pages": [
             {
              "name": "page1",
              "elements": [
               {
                "type": "text",
                "name": "nama_perusahaan",
                "title": "Nama Perusahaan",
                "titleLocation": "top",
                "isRequired": true
               },
               {
                "type": "comment",
                "name": "alamat_perusahaan",
                "startWithNewLine": false,
                "title": "Alamat Perusahaan",
                "titleLocation": "top",
                "isRequired": true
               },
               {
                "type": "text",
                "name": "telp_perusahaan",
                "title": "No Telp",
                "titleLocation": "top",
                "isRequired": true
               },
               {
                "type": "text",
                "name": "email_perusahaan",
                "startWithNewLine": false,
                "title": "Email",
                "titleLocation": "top",
                "isRequired": true,
                "inputType": "email"
               },
               {
                "type": "text",
                "name": "npwp_perusahaan",
                "title": "NPWP",
                "titleLocation": "top",
                "isRequired": true
               },
               {
                "type": "text",
                "name": "nib_perusahaan",
                "startWithNewLine": false,
                "title": "NIB",
                "titleLocation": "top",
                "isRequired": true
               },
               {
                "type": "file",
                "name": "surat_kuasa",
                "title": "Surat Kuasa",
                "titleLocation": "top",
                "isRequired": true,
                "showPreview": true,
                "allowImagesPreview": true,
                "acceptedTypes": "pdf",
                "maxSize": 0
               }
              ]
             }
            ],
            "showTitle": false,
            "showCompletedPage": false,
            "showPageNumbers": true,
            "showQuestionNumbers": "off",
            "questionTitleLocation": "left",
            "completeText": "Save"
           };
        $("#createBidder").on("click",function(){
            $.fn.modal.Constructor.prototype._enforceFocus = function() {};
            $('#modalPage').modal('show');
            $('.modal-title').text("Tambah Bidder");
            Survey.StylesManager.applyTheme("bootstrap");
            var surveyDialog = new Survey.Model(json,"form_survey");
            surveyDialog
                .onComplete
                .add(function(sender) {
                    d = sender.data;
                    d.surat_kuasa = d.surat_kuasa[0].content
                    $.ajax({
                        method: 'POST',
                        url:   '/userman/api/v1/bidder/',
                        contentType : 'application/json',
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        dataType : 'json',
                        data: JSON.stringify(d),
                        success: function(result) {
                            myvm.getPagedDataAsync(5,1);
                            $('#modalPage').modal('hide');
                        },
                        error: function(error) {
                            console.log(error);
                            //$('#retValStatus').text("Ada masalah pada pengiriman data...");
                        }
                    })
                });
            //surveyDialog.render("form_survey");
        });

        $("#bidderlist").on("click",".edit", function(){
            var item = myvm.gridOptions.selectedItems();
            var id = item[0].id;
            $.fn.modal.Constructor.prototype._enforceFocus = function() {};
            $('#modalPage').modal('show');
            $('.modal-title').text("Tambah Bidder");
            Survey.StylesManager.applyTheme("darkblue");
    
            fill_data = 
                {
                    "id": item[0].id,
                    "active": item[0].active,
                    "alamat_perusahaan": item[0].alamat_perusahaan,
                    "jenis_penyelenggara": item[0].jenis_penyelenggara,
                    "verified": item[0].verified,
                    "verified_at": item[0].verified_at,
                    "telp_perusahaan": item[0].telp_perusahaan,
                    "nama_perusahaan": item[0].nama_perusahaan,
                    "verification_note": item[0].verification_note,
                    "npwp_perusahaan": item[0].npwp_perusahaan,
                    "email_perusahaan": item[0].email_perusahaan,
                    "nib_perusahaan": item[0].nib_perusahaan,
                    "verified_by": item[0].verified_by,
                    "surat_kuasa": [{"name": "surat_kuasa.pdf", "type": "application/pdf", "content": item[0].surat_kuasa}]
                }
            var surveyDialog = new Survey.Model(json,"form_survey");
            surveyDialog.data = fill_data;
            surveyDialog
                .onComplete
                .add(function(sender) {
                    d = sender.data;
                    d.surat_kuasa = d.surat_kuasa[0].content
                    $.ajax({
                        //method: 'PUT',
                        type: 'PUT',
                        url:   '/userman/api/v1/bidder/' + id + '/',
                        contentType : 'application/json',
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        dataType : 'json',
                        data: JSON.stringify(d),
                        success: function(result) {
                            myvm.getPagedDataAsync(5,1);
                            $('#modalPage').modal('hide');
                        },
                        error: function(error) {
                            $('#modalPage').modal('hide');
                            Swal.fire('Error!', error.responseText, 'error');                            
                            //$('#retValStatus').text("Ada masalah pada pengiriman data...");
                        }
                    })
                }); 
        });
        $("#bidderlist").on("click",".delete", function(){
            Swal.fire({title: "Apakah yakin akan dihapus?", 
                showCancelButton: true}).then((result)=> 
                {
                    if (result.isConfirmed) {
                        var item = myvm.gridOptions.selectedItems();
                        var id = item[0].id;            
                        $.ajax('/userman/api/v1/bidder/' + id + '/',{
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            type: 'DELETE',
                            success: function (ret) {
                                Swal.fire('Deteled!', '', 'success');
                                myvm.gridOptions.selectedItems([]);
                                myvm.getPagedDataAsync(myvm.pagingOptions.pageSize(), myvm.pagingOptions.currentPage());
                            }
                        });
                      }
                });
        });
        $("#bidderlist").on("click",".deactivate", function(){

        });
    });
</script>
<script src="/static/js/knockout.js"></script>
<script type="text/javascript" src="/static/js/koGrid.js"></script>
<script src="/static/js/survey.knockout.min.js"></script>
{% endblock %}
