{% load i18n %}{% autoescape off %}

{% blocktrans %}Nomor: {{nomor}}{% endblocktrans %}
{% blocktrans %}Hari/Tanggal: {{tanggal}}{% endblocktrans %}
{% blocktrans %}Tempat: {{tempat}}{% endblocktrans %}
{% blocktrans %}Hal: {{agenda}}{% endblocktrans %}

{% blocktrans %}Yth. Bapak / Ibu {% endblocktrans %}

{% blocktrans %}Bersama ini kami sampaikan Undangan<b>{{ menu }}</b>, <b>{{ site_name }}</b> yang dapat diakses pada Akun Aplikasi e-Auction{% endblocktrans %}
{% blocktrans %}Demikian disampaikan, kami ucapkan terimakasih.{% endblocktrans %}

{% blocktrans %}Salam{% endblocktrans %}

{% blocktrans %}Tim {{ site_name }}{% endblocktrans %}
{% endautoescape %}