{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>
    /* .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }

    
    a.active {
        border-bottom: 2px solid blue!important;
        background-color:transparent!important;
    }

    .nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
    }
    .nav-link:hover {
    color: #55c57a;
    }

    .nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    }

    /* ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
    } */

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }

    .card-footer{
        display: none;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    {% comment %} <div class="container-fluid"> {% endcomment %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header" style="background-color: #6C757D;">
                            <h1 style="color: white;font-size: 14px;font-weight: bold;">Persiapan &gt; Aanwijzing</h1>
                        </div>
                        <div class="card-body">
                                {% if user_type == "C" %}
                                {% add_judul_auctioner user.id item_lelang.id "/persiapan/aanwizing/" %}
                                {% elif user_type == "V" %}
                                {% add_judul_viewer user.id item_lelang.id "/persiapan/aanwizing/" %}
                                {% elif user_type == "A" %}
                                {% add_judul_admin user.id item_lelang.id "/persiapan/aanwizing/" %}
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">        
            <div class="row">
                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#detil" role="tab">Detail Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#home" role="tab">Obyek Seleksi</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#penyampaian_undangan" role="tab">Kirim Undangan Aanwizing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dasar" role="tab">Undangan Aanwizing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#bukti_penyampaian_pertanyaan" role="tab">Draft BA Aanwizing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dba_penyampaian_pertanyaan" role="tab">BA Aanwizing</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content col-md-12">
                    <div class="tab-pane" id="detil" role="tabpanel">
                        <div class="card p-3">
                            {% comment %} <div class="container px-5 my-5">
                                <form name="item_lelang" id="item_lelang" method="POST">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Judul Seleksi</label>
                                            <input type="text" disabled class="form-control" id="exampleInputEmail1">
                                        </div>
                                        <div class="form-group">
                                            <label class="nama_label" for="keterangan">Keterangan</label>
                                            <textarea disabled class="form-control" id="keterangan" type="text" style="height: 10rem;"></textarea>
                                        </div>
                                    </div>                                    
                                </form>
                            </div> {% endcomment %}
                            <div class="container px-5 my-5" id="item_lelang_display" >
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="home" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Obyek Seleksi&nbsp;</h2>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="obyek" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Band</th>
                                                <th>Rentang Frekuensi</th>
                                                <th>Teknologi</th>
                                                <th>Reserved Price</th>
                                                <th>Eligibility/Block</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="penyampaian_undangan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Kirim Undangan Aanwizing</h2>
                                        <button id="tambah_kirim" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table id="t_undangan" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="dasar" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Undangan Aanwizing</h2>
                                        <!-- <button id="tambah_pengumuman" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="list_undangan" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="bukti_penyampaian_pertanyaan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Draft BA Aanwizing</h2>
                                        <button id="tambah_draft" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table id="t_draft" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="dba_penyampaian_pertanyaan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">BA Aanwizing</h2>
                                        <!-- <button id="tambah_pengumuman" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_draftba" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>                                                
                </div>
            </div>    
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-form@4.3.0/dist/jquery.form.min.js"></script>
<script>
$(document).ready(function() {
    $(document).on('change', '#id_file',function() {
        var fileInput = $(this);
        var file = fileInput[0].files[0];
        var fileType = file.type;
        
        if (fileType !== 'application/pdf') {
          alert('Hanya file PDF yang diperbolehkan.');
          $('#id_file').val('');
        }
    });
});    
</script>
<script>
var item_lelang;
$(document).ready(function() {

  function loadDatakirimundangan(id) {
    $.ajax({
        url: '/persiapan/persiapan/aanwizing/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_undangan");
            table.empty();
            table.append(data);
            
        }
    });
  }
  function loadDataundangan(id) {
    $.ajax({
        url: '/persiapan/persiapan/aanwizing2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#list_undangan");
            table.empty();
            table.append(data);
            
        }
    });
  }
  function loadDatadraf(id) {
    $.ajax({
        url: '/persiapan/persiapan/ba_persiapan/'+id + '/AANWIZING/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_draft");
            table.empty();
            table.append(data);
            
        }
    });
  }
  function loadDataba(id) {
    $.ajax({
        url: '/persiapan/persiapan/ba_persiapan2/'+id + '/AANWIZING/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_draftba");
            table.empty();
            table.append(data);
            
        }
    });
  }

  let id_item_lelang = null;

  id_item_lelang = $('#nmlelang').val();
    loadData(id_item_lelang)   
    loadDatakirimundangan(id_item_lelang)
    loadDataundangan(id_item_lelang)
    loadDatadraf(id_item_lelang)
    loadDataba(id_item_lelang)
 
$("#tambah_kirim").click(function(event) {
   
    showModal({
      formURL: "/persiapan/persiapan/modal_p_aanwizing/"+document.getElementById('item_lelang').value + "/",
      drfURL: "/persiapan/api/v1/aanwizing/",
      onSuccess: function(response) {
      
        $("#modal").modal('hide');
        swal.fire({
            title: "Data Berhasil Ditambahkan !",
            text: "",
            icon: "success"
        }).then(function() {

        loadDatakirimundangan(document.getElementById('item_lelang').value);
        })
      }
    });
  });

  $("#tambah_draft").click(function(event) {
   
    showModal({
      formURL: "/persiapan/persiapan/modal_berita_acara_aanwizing/"+document.getElementById('item_lelang').value + "/",
      drfURL: "/persiapan/api/v1/berita_acara_persiapan/",
      onSuccess: function(response) {
      
        $("#modal").modal('hide');
        swal.fire({
            title: "Data Berhasil Ditambahkan !",
            text: "",
            icon: "success"
        }).then(function() {

        loadDatadraf(document.getElementById('item_lelang').value);
        })
      }
    });
  });

  
  //edit
  $("#bukti_penyampaian_pertanyaan").on("click",".ba_persiapan_update",function() {
    showModal({
        formURL: "/persiapan/persiapan/modal_update_berita_acara_aanwizing/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
        drfURL: "/persiapan/api/v1/berita_acara_persiapan/"+this.id+"/",
        method: "PUT",
        onSuccess: function(response) {
            $("#modal").modal('hide');
            loadDatadraf(document.getElementById('item_lelang').value);
        }
    })
});

$("#penyampaian_undangan").on("click",".aanwizing_update",function() {
    showModal({
        formURL: "/persiapan/persiapan/modal_update_p_aanwizing/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
        drfURL: "/persiapan/api/v1/aanwizing/"+this.id+"/",
        method: "PUT",
        onSuccess: function(response) {
            $("#modal").modal('hide');
            loadDatakirimundangan(document.getElementById('item_lelang').value);
        }
    })
});
// hapus
$("#penyampaian_undangan").on("click",".aanwizing_delete",function() {
    deleteData({id: this.id, 
        drfURL: '/persiapan/api/v1/aanwizing/',
        onSuccess: function(data) {
            swal.fire({
                title: "Data Terhapus !",
                text: "",
                icon: "success"
            }).then(function() {
                loadDatakirimundangan(document.getElementById('item_lelang').value);
            });
        }
    });
});
$("#bukti_penyampaian_pertanyaan").on("click",".ba_persiapan_delete",function() {
    deleteData({id: this.id, 
        drfURL: '/persiapan/api/v1/berita_acara_persiapan/',
        onSuccess: function(data) {
            swal.fire({
                title: "Data Terhapus !",
                text: "",
                icon: "success"
            }).then(function() {
                loadDatadraf(document.getElementById('item_lelang').value);
            });
        }
    });
});
});

</script>
{% endblock %}