{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>
    /* .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }

    
    a.active {
        border-bottom: 2px solid blue!important;
        background-color:transparent!important;
    }

    .nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
    }
    .nav-link:hover {
    color: #55c57a;
    }

    .nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    }

    /* ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
    } */

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }
    .card-footer{
        display: none;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
   
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h1 style="color: rgb(0,114,228);font-size: 24px;font-weight: bold;">Persiapan - Addendum Dokumen Seleksi</h1>
                        </div>
                       
                        <div class="card-body">
                            {% if user_type == "C" %}
                                {% add_judul_auctioner user.id item_lelang.id "/persiapan/addendum_doksel/" %}
                            {% elif user_type == "V" %}
                                {% add_judul_viewer user.id item_lelang.id "/persiapan/addendum_doksel/" %}
                            {% elif user_type == "A" %}
                                {% add_judul_admin user.id item_lelang.id "/persiapan/addendum_doksel/" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">        
            {% comment %} <div class="row">
                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#detil" role="tab">Detail Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#home" role="tab">Obyek Seleksi</a>
                    </li> -->
            
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#giat" role="tab">Kirim Undangan Pengambilan Addendum Dokumen Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dasar" role="tab">Undangan Pengambilan Addendum Dokumen Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#upload_dokumen" role="tab">Upload Addendum Dokumen Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dokumen_seleksis" role="tab">Addendum Dokumen Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#daftar_bukti" role="tab">Daftar Bukti Pengambilan Addendum Dokumen Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#draft_ba" role="tab">Draft BA Pengambilan Addendum Dokumen Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#ba_pengambilan" role="tab">BA Pengambilan Addendum Dokumen Seleksi</a>
                    </li>
                    
                    
                   
                   
                   
                </ul>
                <!-- Tab panes -->
                <div class="tab-content col-md-12">
                    <div class="tab-pane " id="detil" role="tabpanel">
                        <div class="card p-3">
                            <div class="container px-5 my-5">
                                
                            </div> 
                            <div class="container px-5 my-5" id="item_lelang_display" >
                            </div> 
                        </div>
                    </div>
                    <div class="tab-pane" id="home" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Obyek Seleksi&nbsp;</h2>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="obyek" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Band</th>
                                                <th>Rentang Frekuensi</th>
                                                <th>Teknologi</th>
                                                <th>Reserved Price</th>
                                                <th>Eligibility/Block</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="giat" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Kirim Undangan Pengambilan Addendum Dokumen Seleksi</h2>
                                        <button id="tambah_undangan_ad" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_undangan" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="dasar" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Undangan Pengambilan Addendum Dokumen Seleksi</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_undangan2" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="upload_dokumen" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Upload Addendum Dokumen Seleksi&nbsp;</h2>
                                        <button id="tambah_addendum" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table id="objek_upload_addendum" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="dokumen_seleksis" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Addendum Dokumen Seleksi</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objek_addendum_doksel" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>   
                    <div class="tab-pane" id="daftar_bukti" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Daftar Bukti Pengambilan Addendum Dokumen Seleksi</h2>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objekpengumumanseleksi" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="draft_ba" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Draft BA Pengambilan Addendum Dokumen Seleksi</h2>
                                        <button id="tambah_ba_persiapan" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table id="t_draft" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>  
                    <div class="tab-pane" id="ba_pengambilan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">BA Pengambilan Addendum Dokumen Seleksi</h2>
                                        <!-- <button id="tambah_pengumuman" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_drafts" class="dt"  style="width: 100%">
                                        <thead>
                                            <tr>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>                                                  
                </div>
            </div>     {% endcomment %}
            {% include "tabs_all.html" %}
        </div>
    </div>
    {% comment %} <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
    </div> {% endcomment %}
    <p style="display: none;" text="{{user.id}}" id="tricky_user_id"></p>
    <p style="display: none;" id="tricky_user_bidder_id"></p>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/jquery-form@4.3.0/dist/jquery.form.min.js"></script>
<script>
$(document).ready(function() {
    $(document).on('change', '#id_file',function() {
        var fileInput = $(this);
        var file = fileInput[0].files[0];
        var fileType = file.type;
        
        if (fileType !== 'application/pdf') {
          alert('Hanya file PDF yang diperbolehkan.');
          $('#id_file').val('');
        }
    });

    $(document).on('change', '#id_dokumen_addendum',function() {
        var fileInput = $(this);
        var file = fileInput[0].files[0];
        var fileType = file.type;
        
        if (fileType !== 'application/pdf') {
          alert('Hanya file PDF yang diperbolehkan.');
          $('#id_dokumen_addendum').val('');
        }
    });
});
var item_lelang;
$(document).ready(function() {
  var judul_lelang = $('#nmlelang').select2({
    ajax: {
      url: '/adm_lelang/api/v1/item_lelang',
      processResults: function (data) {
        return {results: $.map(data.results, function (item) {
            return {
                text: item.nama_lelang,
                id: item.id
                }
            })
        }}
    }
  });
  


  function loadData(id) {
    $.ajax({
        url: '/adm_lelang/adm_lelang/detail_itemlelang2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#obyek");
            table.empty();
            table.append(data);
            
        }
    });
  }
 
  function load_undangan_pengambilan_addendum(id) {
    $.ajax({
        url: '/persiapan/persiapan/p_addendum/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_undangan");
            table.empty();
            table.append(data);
          
        }
    });
  }

  function load_undangan_pengambilan_addendum2(id) {
    $.ajax({
        url: '/persiapan/persiapan/p_addendum2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_undangan2");
            table.empty();
            table.append(data);
          
        }
    });
    
  }

  function load_addendum_doksel(id) {
    $.ajax({
        url: '/proses_lelang/proses_lelang/upload_addendum/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#objek_upload_addendum");
            table.empty();
            table.append(data);
          
        }
    });
  }

  function load_addendum_doksel2(id) {
    $.ajax({
        url: '/proses_lelang/proses_lelang/upload_addendum2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#objek_addendum_doksel");
            table.empty();
            table.append(data);
        }
    });
  }

  function load_addendum_doksel3(id) {
    $.ajax({
        url: '/proses_lelang/proses_lelang/upload_addendum3/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#objekpengumumanseleksi");
            table.empty();
            table.append(data);
           
        }
    });
  }






     function load_ba_persiapan_addendum(id) {
    $.ajax({
        url: '/persiapan/persiapan/ba_persiapan/'+id + '/'+ 'ADDENDUM',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_draft");
            table.empty();
            table.append(data);
         
        }
    });
    
  }

     function load_ba_persiapan_addendum2(id) {
    $.ajax({
        url: '/persiapan/persiapan/ba_persiapan2/'+id + '/'+ 'ADDENDUM',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_drafts");
            table.empty();
            table.append(data);
            
        }
    });
    
  }


  let id_item_lelang = null;

  $('#nmlelang').on('select2:select', function (e) {
    id_item_lelang = e.params.data.id;
    $("#item_lelang").val(id_item_lelang);
    //console.log(get_id_lelang());
    $("#updatejudul").prop('disabled', false);
    $("#disablejudul").prop('disabled', false);
    loadData(id_item_lelang)
    load_undangan_pengambilan_addendum(id_item_lelang)
    load_undangan_pengambilan_addendum2(id_item_lelang)
    load_addendum_doksel(id_item_lelang)
    load_addendum_doksel2(id_item_lelang)
    load_addendum_doksel3(id_item_lelang)
    load_ba_persiapan_addendum(id_item_lelang)
    load_ba_persiapan_addendum2(id_item_lelang)
  });
  
  
  $("#item_lelang").ajaxForm({
    dataType:  'json', 
    success:   function(data) {console.log(data)},
    beforeSubmit: function(arr, $form, options) {
        console.log(arr);
        console.log($form);
        console.log(options);
        //return false;
      }      
  });
  


//Tambah
  $("#tambah_addendum").click(function(event) { 
      showModal({
            formURL: "/proses_lelang/proses_lelang/modal_addendum_doksel/"+document.getElementById('item_lelang').value + "/",
            drfURL: "/proses_lelang/api/v1/dokumen_addendum_doksel/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                swal.fire({
                    title: "Data Berhasil Ditambahkan !",
                    text: "",
                    icon: "success"
                }).then(function() {
                load_addendum_doksel(document.getElementById('item_lelang').value);
                })
            }
        });
    });
    

  $("#tambah_undangan_ad").click(function(event) { 

      showModal({
            formURL: "/persiapan/persiapan/modal_p_addendum/"+document.getElementById('item_lelang').value + "/",
            drfURL: "/persiapan/api/v1/pengambilan_addendum/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                swal.fire({
                    title: "Data Berhasil Ditambahkan !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    load_undangan_pengambilan_addendum(document.getElementById('item_lelang').value);
                })
            }
        });
    });

  $("#tambah_ba_persiapan").click(function(event) { 
      showModal({
            formURL: "/persiapan/persiapan/modal_berita_acara_addendum/"+document.getElementById('item_lelang').value + "/",
            drfURL: "/persiapan/api/v1/berita_acara_persiapan/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                swal.fire({
                    title: "Data Berhasil Ditambahkan !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    load_ba_persiapan_addendum(document.getElementById('item_lelang').value);
                })
            }
        });
    });
    // edit
      $("#objek_upload_addendum").on("click",".update_addendum_doksel",function() {
        showModal({
            formURL: "/proses_lelang/proses_lelang/modal_p_addendum/"+this.id+"/"+ document.getElementById('item_lelang').value + "/",
            drfURL: "/proses_lelang/api/v1/dokumen_update_addendum_doksel/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                swal.fire({
                    title: "Data Berhasil Diupdate !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    load_addendum_doksel(document.getElementById('item_lelang').value);
            })
            }
        })
    });

      $("#t_undangan").on("click",".addendum_update",function() {
        showModal({
            formURL: "/persiapan/persiapan/modal_update_p_addendum/"+this.id+"/"+ document.getElementById('item_lelang').value + "/",
            drfURL: "/persiapan/api/v1/pengambilan_addendum/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                swal.fire({
                    title: "Data Berhasil Diupdate !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    load_undangan_pengambilan_addendum(document.getElementById('item_lelang').value);
            })
            }
        })
    });

      $("#t_draft").on("click",".ba_persiapan_update",function() {
        showModal({
            formURL: "/persiapan/persiapan/modal_update_berita_acara_addendum/"+this.id+"/"+ document.getElementById('item_lelang').value + "/",
            drfURL: "/persiapan/api/v1/berita_acara_persiapan/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                swal.fire({
                    title: "Data Berhasil Diupdate !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    load_ba_persiapan_addendum(document.getElementById('item_lelang').value);
            })
            }
        })
    });

     // hapus
     $("#objek_upload_addendum").on("click",".delete_addendum_doksel",function() {
        Swal.fire({
            icon: 'warning',
            title: 'Hapus data',
            text: "Ingin menghapus data ini ?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: '/proses_lelang/api/v1/dokumen_addendum_doksel/'+this.id+'/',
                    contentType : 'application/json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType : 'json',
                    success: function (data) {
                        swal.fire({
                            title: "Data Terhapus !",
                            text: "",
                            icon: "success"
                        }).then(function() {
                            load_addendum_doksel(document.getElementById('item_lelang').value);
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } else if (result.isDenied) {

            }
        })
    });

     $("#t_undangan").on("click",".addendum_delete",function() {
        Swal.fire({
            icon: 'warning',
            title: 'Hapus data',
            text: "Ingin menghapus data ini ?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: '/persiapan/api/v1/pengambilan_addendum/'+this.id+'/',
                    contentType : 'application/json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType : 'json',
                    success: function (data) {
                        swal.fire({
                            title: "Data Terhapus !",
                            text: "",
                            icon: "success"
                        }).then(function() {
                            load_undangan_pengambilan_addendum(document.getElementById('item_lelang').value);
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } else if (result.isDenied) {

            }
        })
    });

     $("#t_draft").on("click",".ba_persiapan_delete",function() {
        Swal.fire({
            icon: 'warning',
            title: 'Hapus data',
            text: "Ingin menghapus data ini ?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: '/persiapan/api/v1/berita_acara_persiapan/'+this.id+'/',
                    contentType : 'application/json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType : 'json',
                    success: function (data) {
                        swal.fire({
                            title: "Data Terhapus !",
                            text: "",
                            icon: "success"
                        }).then(function() {
                            load_ba_persiapan_addendum(document.getElementById('item_lelang').value);
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } else if (result.isDenied) {

            }
        })
    });

});

</script> {% endcomment %}

<script>
    var item_lelang;
    $(document).ready(function() {
        {% include "js/js_temp_all.html" %}
        alert("sini");
        function disable_tambah_upload_doksel() {
            $.ajax({
                method: 'GET',
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '/persiapan/api/v1/addendum/?item_lelang='+{{item_lelang.id}},
                success: function (response) {
                    console.log(response.count)
                    if (response.count>0) {
                        $("#tambah_addendum1").prop( "disabled", true );
                        $("#tambah_addendum1").addClass( "invisible" );
                    }
                },
            });
        }
        disable_tambah_upload_doksel();
        $("#table_addendum").on("click",".bidder_download", function() {
            console.log("masuk sini");
            $.ajax({
                url: '/persiapan/api/v1/addendum/'+this.id+'/',
                method: "GET",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    window.open(
                        data.file,
                        '_blank' 
                    );
                }
            });
        
        })
    });
    
    </script>
{% endblock %}