{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }
    .card-footer{
        display: none;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    {% comment %} <div class="container-fluid"> {% endcomment %}
    {% add_judul_bidder user.id item_lelang.id "/persiapan/pembukaan/" %}
    </div>   
    <div class="col" style="padding-top: 30px; padding-left:50px; padding-right:50px; max-width: 3000px;">       
            {% include "tabs_all.html" %}
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}

<script>
var item_lelang;

$(document).ready(function() {
    {% include "js/js_temp_all.html" %}
});

</script>
{% endblock %}