{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}

{% block extrahead %}
<style>
    /* .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }

    
    a.active {
        border-bottom: 2px solid blue!important;
        background-color:transparent!important;
    }

    .nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
    }
    .nav-link:hover {
    color: #55c57a;
    }

    .nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    }

    /* ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
    } */

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }

    .card-footer{
        display: none;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    {% comment %} <div class="container-fluid"> {% endcomment %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header" style="background-color: #6C757D;">
                            <h1 style="color: white;font-size: 14px;font-weight: bold;">Persiapan  &gt;  Pertanyaan</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                        <div class="form-group form-inline">
                                            <label for="nmlelang">Judul Seleksi&nbsp;</label>
                                            <select class="form-control" id="nmlelang" style="width:600px" ></select>
                                            <input type="hidden" id="item_lelang">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">        
            <div class="row">
                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#detil" role="tab">Detail Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#home" role="tab">Obyek Seleksi</a>
                    </li> -->
                  
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#penyampaian_pertanyaan" role="tab">Penyampaian Pertanyaan</a>
                    </li>
                   
                   
                    <!-- <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dasar" role="tab">Daftar Pertanyaan</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#bukti_penyampaian_pertanyaan" role="tab">Bukti Penyampaian Pertanyaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dba_penyampaian_pertanyaan" role="tab">Draft BA Penyampaian Pertanyaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#ba_penyampaian_pertanyaan" role="tab">BA Penyampaian Pertanyaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#kirim_undangan" role="tab">Kirim Undangan Penyusunan Jawaban</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#undangan_penyusunan" role="tab">Undangan Penyusunan Jawaban</a>
                    </li>
                 
                  
                </ul>
                <!-- Tab panes -->
                <div class="tab-content col-md-12">
                    <div class="tab-pane" id="detil" role="tabpanel">
                        <div class="card p-3">
                            {% comment %} <div class="container px-5 my-5">
                                <form name="item_lelang" id="item_lelang" method="POST">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Judul Seleksi</label>
                                            <input type="text" disabled class="form-control" id="exampleInputEmail1">
                                        </div>
                                        <div class="form-group">
                                            <label class="nama_label" for="keterangan">Keterangan</label>
                                            <textarea disabled class="form-control" id="keterangan" type="text" style="height: 10rem;"></textarea>
                                        </div>
                                    </div>                                    
                                </form>
                            </div> {% endcomment %}
                            <div class="container px-5 my-5" id="item_lelang_display" >
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="home" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Obyek Seleksi&nbsp;</h2>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="obyek" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Band</th>
                                                <th>Rentang Frekuensi</th>
                                                <th>Teknologi</th>
                                                <th>Reserved Price</th>
                                                <th>Eligibility/Block</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="penyampaian_pertanyaan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Penyampaian Pertanyaan</h2>
                                        <button id="tambah_pertanyaan" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_penyampaian" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="dasar" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Daftar Pertanyaan</h2>
                                        <!-- <button id="" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_pertanyaan" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="bukti_penyampaian_pertanyaan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Bukti Penyampaian Pertanyaan</h2>
                                        <!-- <button id="tambah_pengumuman" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_bukti" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="dba_penyampaian_pertanyaan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Draft BA Penyampaian Pertanyaan</h2>
                                        <button id="tambah_draft" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table id="t_draft" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>   
                    <div class="tab-pane" id="ba_penyampaian_pertanyaan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">BA Penyampaian Pertanyaan</h2>
                                        <!-- <button id="tambah_pengumuman" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table id="t_ba" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="kirim_undangan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Kirim Undangan Penyusunan Jawaban</h2>
                                        <button id="tambah_undangan" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table id="t_undangan" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>  
                    <div class="tab-pane" id="undangan_penyusunan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Undangan Penyusunan Jawaban</h2>
                                        <!-- <button id="tambah_pengumuman" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_undangan_penyusunan" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>                                                  
                </div>
            </div>    
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-form@4.3.0/dist/jquery.form.min.js"></script>
<script>
$(document).ready(function() {
    $(document).on('change', '#id_file_pdf',function() {
        console.log(1);
        var fileInput = $(this);
        var file = fileInput[0].files[0];
        var fileType = file.type;
        
        if (fileType !== 'application/pdf') {
          alert('Hanya file PDF yang diperbolehkan.');
          $('#id_file_pdf').val('');
        }
    });

    $(document).on('change', '#id_file',function() {
        console.log(1);
        var fileInput = $(this);
        var file = fileInput[0].files[0];
        var fileType = file.type;
        
        if (fileType !== 'application/pdf') {
          alert('Hanya file PDF yang diperbolehkan.');
          $('#id_file').val('');
        }
    });

    $(document).on('change', '#id_file_word',function() {
        console.log(1);
        var fileInput = $(this);
        var file = fileInput[0].files[0];
        var fileType = file.type;
        
        if (fileType !== 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') {
          alert('Hanya file Word yang diperbolehkan.');
          $('#id_file_word').val('');
        }
    });

    $(document).on('change', '#id_file_excel',function() {
        console.log(1);
        var fileInput = $(this);
        var file = fileInput[0].files[0];
        var fileType = file.type;
        
        if (fileType !== 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
          alert('Hanya file Excel yang diperbolehkan.');
          $('#id_file_excel').val('');
        }
    });
});



function deleteData(options) {
        var defaults = {
            element_id: "#form",
            form_id: "#form",
            id: null,
            drfURL: null,
            onSuccess: null,
            onError: null,
            errorClass: ".invalid",
        };
        var settings = $.extend(defaults, options);
        Swal.fire({
            icon: 'warning',
            title: 'Hapus data',
            text: "Ingin menghapus data ini ?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: settings.drfURL+settings.id+'/',
                    contentType : 'application/json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType : 'json',
                    success: function (data) {
                        settings.onSuccess(data);
                    },
                    error: function(error) {
                        swal.fire("Menghapus gagal. Yang dihapus sudah ada obyeknya.")
                    }
                });
            } else if (result.isDenied) {
            }
        })
    };

var item_lelang;
$(document).ready(function() {
  var judul_lelang = $('#nmlelang').select2({
    ajax: {
      url: '/adm_lelang/api/v1/item_lelang',
      processResults: function (data) {
        return {results: $.map(data.results, function (item) {
            return {
                text: item.nama_lelang,
                id: item.id
                }
            })
        }}
    }
  });
//   function load_itemlelang_form(data) {
//     checkRecord({        
//         drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
//         onSuccess: function(response) {
//             loadForm({
//                 element_id: "#item_lelang_display",
//                 form_id: "#item_lelang_form",
//                 formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
//                 drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
//                 method: 'PUT',
//                 onSuccess: function(response) {
//                     console.log(response);
//                 }
//             });
//         },
//         onError: function(response) {
//             loadForm({
//                 element_id: "#item_lelang_display",
//                 form_id: "#item_lelang_form",
//                 formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
//                 drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
//                 onSuccess: function(response) {
//                     console.log(response);
//                 }
//             });
//         }
//     });
//   }
  function loadData(id) {
    $.ajax({
        url: '/adm_lelang/adm_lelang/detail_itemlelang2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#obyek");
            table.empty();
            table.append(data);
        }
    });
  }
  function loadData_penyampaian_pertanyaan(id) {
    $.ajax({
        url: '/persiapan/persiapan/p_pertanyaan/' +id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_penyampaian");
            table.empty();
            table.append(data);
            
        }
    });
  }
  function loadData_daftar_pertanyaan(id) {
    $.ajax({
        url: '/persiapan/persiapan/p_pertanyaan3/' +id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_pertanyaan");
            table.empty();
            table.append(data);
            
        }
    });
  }

  function loadData_bukti_pertanyaan(id) {
    $.ajax({
        url: '/persiapan/persiapan/p_pertanyaan2/' +id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_bukti");
            table.empty();
            table.append(data);
            
        }
    });
  }
  
  function loadData_draft(id) {
    $.ajax({
        url: '/persiapan/persiapan/ba_persiapan/'+id + '/PERTANYAAN/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_draft");
            table.empty();
            table.append(data);
            
        }
    });
  }

  function loadData_ba_persiapan(id) {
    $.ajax({
        url: '/persiapan/persiapan/ba_persiapan2/'+id + '/PERTANYAAN/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_ba");
            table.empty();
            table.append(data);
        }
    });
  }

  function loadData_kirim_undangan_penyusunan(id) {
    $.ajax({
        url: '/persiapan/persiapan/penyusunan_jawaban/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_undangan");
            table.empty();
            table.append(data);
        }
    });
  }
  
  function loadData_undangan_penyusunan(id) {
    $.ajax({
        url: '/persiapan/persiapan/penyusunan_jawaban2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_undangan_penyusunan");
            table.empty();
            table.append(data);
        }
    });
  }

  let id_item_lelang = null;

  $('#nmlelang').on('select2:select', function (e) {
    id_item_lelang = e.params.data.id;
    $("#item_lelang").val(id_item_lelang);
    //console.log(get_id_lelang());
    $("#updatejudul").prop('disabled', false);
    $("#disablejudul").prop('disabled', false);
    loadData(id_item_lelang)
    loadData_penyampaian_pertanyaan(id_item_lelang)
    loadData_daftar_pertanyaan(id_item_lelang)
    loadData_bukti_pertanyaan(id_item_lelang)
    loadData_draft(id_item_lelang)
    loadData_ba_persiapan(id_item_lelang)
    loadData_undangan_penyusunan(id_item_lelang)
    loadData_kirim_undangan_penyusunan(id_item_lelang)
  });
    
  $("#item_lelang").ajaxForm({
    dataType:  'json', 
    success:   function(data) {console.log(data)},
    beforeSubmit: function(arr, $form, options) {
        console.log(arr);
        console.log($form);
        console.log(options);
        //return false;
      }      
  });
  

  //CREATE
    $("#tambah_pertanyaan").click(function() { 
            showModal({
                formURL: "/persiapan/persiapan/modal_p_pertanyaan/"+document.getElementById('item_lelang').value+"/",
                drfURL: "/persiapan/api/v1/penyampaian_pertanyaan/",
                onSuccess: function(response) {
                    $("#modal").modal('hide');
                    loadData_penyampaian_pertanyaan(document.getElementById('item_lelang').value);
                }
            });
        });

    $("#tambah_draft").click(function() { 
        showModal({
            formURL: "/persiapan/persiapan/modal_berita_acara_pertanyaan/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/persiapan/api/v1/berita_acara_persiapan/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_draft(document.getElementById('item_lelang').value)
            }
        });
    });

    $("#tambah_undangan").click(function() { 
        showModal({
            formURL: "/persiapan/persiapan/modal_penyusunan_jawaban/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/persiapan/api/v1/penyusunan_jawaban/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_kirim_undangan_penyusunan(document.getElementById('item_lelang').value)
            }
        });
    });

    //EDIT
    $("#t_draft").on("click",".ba_persiapan_update",function() {
        showModal({
            formURL: "/persiapan/persiapan/modal_update_berita_acara_pertanyaan/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/persiapan/api/v1/berita_acara_persiapan/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_draft(document.getElementById('item_lelang').value);
            }
        })
    });

    function getFileFromTableRow(row) {
        // Get the file link from the table row
        var fileLink = $(row).find('a.file-link');
        
        // Get the file URL from the file link
        var fileURL = fileLink.attr('href');
        
        // Open the file in a new tab/window
        window.open(fileURL, '_blank');
    }

    $("#t_penyampaian").on("click",".persiapan_pertanyaan_update",function() {
        showModal({
            formURL: "/persiapan/persiapan/modal_update_p_pertanyaan/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/persiapan/api/v1/penyampaian_pertanyaan/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_penyampaian_pertanyaan(document.getElementById('item_lelang').value);
            }
        })
    });

    $("#t_undangan").on("click",".penyusun_jawaban_update",function() {
        showModal({
            formURL: "/persiapan/persiapan/modal_update_penyusunan_jawaban/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/persiapan/api/v1/penyusunan_jawaban/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_kirim_undangan_penyusunan(document.getElementById('item_lelang').value);
            }
        })
    });

    //DELETE
    $("#t_draft").on("click",".ba_persiapan_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/persiapan/api/v1/berita_acara_persiapan/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadData_draft(document.getElementById('item_lelang').value);
                });
            }
        });
    });

    $("#t_penyampaian").on("click",".persiapan_pertanyaan_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/persiapan/api/v1/penyampaian_pertanyaan/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadData_penyampaian_pertanyaan(document.getElementById('item_lelang').value);
                });
            }
        });
    });

    $("#t_undangan").on("click",".penyusun_jawaban_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/persiapan/api/v1/penyusunan_jawaban/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadData_kirim_undangan_penyusunan(document.getElementById('item_lelang').value);
                });
            }
        });
    });


});

</script>
{% endblock %}