{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}

{% endblock %} 
{% block navbar %}
{% include 'new_index/parts/navbar_kosong.html' %}
{% endblock %}
{% block konten_isi %}
    {% add_judul_bidder user.id item_lelang.id "/persiapan/pertanyaan/" "Persiapan > Pertanyaan" %}
{% include "tabs_all.html" %}
<p style="display: none;" text="{{user.id}}" id="tricky_user_id"></p>
<p style="display: none;" id="tricky_user_bidder_id"></p>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
<script src="/static/js/eauctions_modal.js"></script>
<script>
var item_lelang;
$(document).ready(function() {
    {% include "js/js_temp_all.html" %}
    function disable_tambah_upload_doksel() {
        $.ajax({
            method: 'GET',
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '/persiapan/api/v1/penyampaian_pertanyaan/?item_lelang={{item_lelang.id}}&bidder={{bidder_id}}',
            success: function (response) {
                console.log(response.count)
                if (response.count>0) {
                    $("#tambah_pertanyaan").prop( "disabled", true );
                    $("#tambah_pertanyaan").addClass( "invisible" );
                }
            },
        });
    }
    disable_tambah_upload_doksel();

});

</script>
{% endblock %}