{% load widget_tweaks %}
<form name="item_lelang" id="item_lelang" method="POST" >
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Pertanyaan</h5>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        
                            {% csrf_token %}
                            {% render_field form.item_lelang %}
                            {% render_field form.bidder %}
                            <div class="form-group">
                                <label for="id_nomor" class="nama_label"  >Nama Perwakilan</label>
                                {% render_field form.perwakilan|add_class:"form-custom wakilnya" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Pertanyaan Dalam Format Doc </label>
                                {% render_field form.file_word|add_class:"form-control "|attr:"accept= .docx, .doc , .odt" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Pertanyaan Dalam Format Xls </label>
                                {% render_field form.file_excel|add_class:"form-control"|attr:"accept= .xlsx, .xls , .ods" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Pertanyaan Dalam Format Pdf</label>
                                {% render_field form.file_pdf|add_class:"form-control"|attr:"accept= .pdf" %}
                            </div>
                          
                    </div>  
                </div>              
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>

$(document).ready(function() {
    $('.wakilnya').select2(
        {
            width:'100%',
            dropdownParent: $("#modal"),
            theme: 'bootstrap4', 
        }
    );
});
</script>