{% load widget_tweaks %}
<form name="item_lelang" id="item_lelang" method="POST" >
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Daftar Hadir</h5>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body">
                <p id="data_modal" style="display: none;">add_undangan</p>
                <div class="col">
                    <div class="row">
                        
                            {% csrf_token %}
                            <div style="display: none;">
                                {% render_field form.item_lelang %}
                                {% render_field form.tahapan %}
                            </div>
                            <div class="row col-md-12">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_bidder" class="nama_label">Perwakilan Bidder :</label>
                                        {% render_field form.bidder_perwakilan|add_class:"form-control wakilnya" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="id_bidder" class="nama_label">Tanggal Kehadiran :</label>
                                        {% render_field form.tgl_kehadiran|add_class:"form-control" type="date" %}
                                    </div>
                                </div>
                            </div>
                            
                    </div>  
                </div>              
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>

$(document).ready(function() {
    $('.wakilnya').select2(
        {
            dropdownParent: $("#modal"),
            theme: 'bootstrap4', 
            width: '100%',
        }
    );
    
});
</script>
        </div>
    </div>
</div>