{% load widget_tweaks %}
<form name="panitia_seleksi" id="panitia_seleksi" method="POST" >
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-add circle-icon"></i>&nbsp;&nbsp;Panitia Seleksi</h5>
            <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
		</div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    
                        {% csrf_token %}
                        {% render_field form.item_lelang %}
                        <div class="form-group" style="display: none;">
                            <label  class="nama_label">Item Lelang</label>
                            {% render_field form.item_lelang|add_class:"form-control" %}
                        </div>
                        <div class="form-group col-12">
                            <label  class="nama_label">Nama</label>
                            {% render_field form.nama|add_class:"form-control"|attr:"placeholder:Masukan Nama Lengkap" %}
                        </div>
                        <div class="form-group col-8">
                            <label  class="nama_label">NIP</label>
                            {% render_field form.nip|add_class:"form-control"|attr:"placeholder:Masukan NIP" %}
                        </div>
                        <div class="form-group col-6">
                            <label  class="nama_label">Jabatan Dalam Tim</label>
                            {% render_field form.tanggung_jawab|add_class:"form-control"|attr:"placeholder:Masukan Jabatan Dalam Tim" %}
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label  class="nama_label">Tanggal Mulai</label>
                                {% render_field form.tgl_mulai|add_class:"form-control" type="date"%}
                            </div>
                            <div class="form-group col-6">
                                <label  class="nama_label">Tanggal Berakhir</label>
                                {% render_field form.tgl_akhir|add_class:"form-control" type="date"%}
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label  class="nama_label">Status</label><br>
                            &nbsp;&nbsp;{% render_field form.status|add_class:"form-group checknya" %}&nbsp;&nbsp;Aktif
                            <!-- {% render_field form.status|add_class:"form-control" type="checkbox"%} -->
                        </div>
                        <div class="form-group col-12">
                            <label  class="nama_label">Keterangan</label>
                            {% render_field form.keterangan|add_class:"form-control"|attr:"placeholder:Masukan Keterangan" %}
                        </div>
                      
                </form>
                </div>  
            </div>              
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                </div>
            </div>
        </div>
	  </div>
	</div>
  </div>
</form>
