{% load widget_tweaks %}
</form>
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
            <h3 class="modal-title">Pengumuman Pembukaan Seleksi </h3>
            <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
		</div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form name="item_lelang" id="item_lelang" method="POST" >
                        {% csrf_token %}
                        {% render_field form.item_lelang %}
                        {% render_field form.tahapan %}
                        <div class="form-group"><label  class="nama_label">Masukkan Nomor Pengumuman</label>
                            {% render_field form.nomor|add_class:"form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="nama_label" >Masukkan Judul Pengumuman</label>
                            {% render_field form.judul|add_class:"form-control" %}
                        </div>
                        <div class="form-group">
                            <label for="id_judul">Masukkan Tanggal Penetapan Pengumuman</label>
                            {% render_field form.tgl_release|add_class:"form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="nama_label" >Masukkan Keterangan Pengumuman</label>
                            {% render_field form.pengumuman|add_class:"form-control" %}
                        </div>
                        <div class="form-group">
                            <label  class="nama_label">Unggah Pengumuman</label>
                            {% render_field form.dokumen|add_class:"form-control"|attr:"accept=.pdf" %}
                        </div>
                      
                    
                </div>  
            </div>              
        </div>
	  </div>
	</div>
  </div>
 
</form>