{% load widget_tweaks %}
<form name="item_lelang" id="item_lelang" method="POST" >
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-add circle-icon"></i>&nbsp;&nbsp;Aturan Seleksi</h5>
            <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
		</div>
        <div class="modal-body">
            <div class="col">
                <div class="card-body">
                    
                        {% csrf_token %}
                        {% render_field form.item_lelang %}
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="id_judul" class="nama_label">Nomor Aturan</label>
                                {% render_field form.nomor|add_class:"form-control" %}
                            </div>
                            <div class="form-group col-6">
                                <label for="id_judul" class="nama_label">Tanggal Penetapan</label>
                                {% render_field form.tanggal|add_class:"form-control" %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_judul" class="nama_label">Judul</label>
                            {% render_field form.judul|add_class:"form-control" %}
                        </div>
                        
                        <div class="form-group">
                            <label class="nama_label" for="id_keterangan"  class="nama_label">Keterangan</label>
                            {% render_field form.keterangan|add_class:"form-control" %}
                        </div>
                        <div class="form-group">
                            <label class="nama_label" for="id_keterangan"  class="nama_label">File Aturan</label>
                            {% render_field form.attachment|add_class:"form-control" %}
                        </div>
                    </form>
                </div>  
            </div>              
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                </div>
            </div>
        </div>
        
	  </div>
	</div>
  </div>
</form>