{% load widget_tweaks %}

<form name="item_lelang" id="item_lelang" method="POST" >
<div id="modalx" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-add circle-icon"></i>&nbsp;&nbsp;Jadwal Seleksi</h5>
            <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
		</div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                   
                        {% csrf_token %}
                        {% render_field form.item_lelang %}
                        <div class="form-group col-12"><label  class="nama_label">Tahapan</label>
                            {% render_field form.tahap|add_class:"form-control tahapan" %}
                            
                        </div>
                        <div class="row col-md-12">
                            <div class="form-group col-4">
                                <label class="nama_label" >Tanggal Awal</label>
                                {% render_field form.tanggal_awal|add_class:"form-control datetimepicker-input" %}
                            </div>
                            <div class="form-group col-4">
                                <label class="nama_label" >Tanggal Akhir</label>
                                {% render_field form.tanggal_akhir|add_class:"form-control datetimepicker-input" %}
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label class="nama_label" >Perubahan</label>
                            {% render_field form.perubahan|add_class:"form-control" %}
                        </div>
                   
                </div>  
                
            </div>              
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                </div>
            </div>
        </div>
	  </div>
	</div>
  </div>
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>

    $(document).ready(function() {
    $('.tahapan').select2(
        {
            width: '100%',
            dropdownParent: $("#modalx"),
            
           
        }
    );

});
  </script>
  