{% load widget_tweaks %}
<form name="item_lelang" id="item_lelang" method="POST">
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal modal-dialog-centered modal-lg">
        <div class="modal-content" style="
        border-radius: 10px;">
            <div class="modal-header">
                <h4 class="modal-title" style=" font-weight:700; color:black;">
                    <i class="fa fa-edit circle-icon"></i>&nbsp;&nbsp;
                    Tambah Banner
                </h4>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        
                            {% csrf_token %}
                            <div class="form-group col-md-12" >
                                <label for="id_nomor"  class="nama_label">Nama Banner</label>
                                {% render_field form.nama_banner|add_class:"form-control nospaceinput " %}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id_nomor"  class="nama_label">Caption</label>
                                {% render_field form.caption|add_class:"form-control nospaceinput " %}
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id_nomor"  class="nama_label">Gambar</label>
                                {% render_field form.image|add_class:"form-control nospaceinput " %}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="id_nomor"  class="nama_label">Status</label>
                                <div class="form-field">
                                    {% render_field form.tag|add_class:"form-control nospaceinput " %}
                                </div>
                            </div>
                       
                        
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form.media }}
</form>
  
