{% load widget_tweaks %}
<form name="item_lelang" id="item_lelang" method="POST">
<div id="modalxy" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal modal-dialog-centered modal-lg">
        <div class="modal-content" style="
        border-radius: 10px;">
            <div class="modal-header">
                <h4 class="modal-title" style=" font-weight:700; color:black;">
                    <i class="fa fa-edit circle-icon"></i>&nbsp;&nbsp;
                    Ubah Dasar Hukum
                </h4>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                       
                            {% csrf_token %}
                            <div class="form-group col-md-8">
                                <label for="id_nomor"  class="nama_label">Jenis Kebijakan</label>
                                <div class="form-field">
                                {% render_field form.jenis_kebjakan|add_class:"form-control  nospaceinput jenis_kebijakan_u " %}
                                </div>
                            </div>
                           <div class="form-row col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="id_nomor"  class="nama_label">Nomor/ Tahun Kebijakan</label>
                                    {% render_field form.nomor|add_class:"form-control  nospaceinput " %}
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="id_nomor"  class="nama_label">Tanggal Penetapan</label>
                                    <div class="form-field">
                                        {% render_field form.tanggal|add_class:"form-control  nospaceinput " type="date" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id_nomor"  class="nama_label">Masukkan Judul Kebijakan</label>
                                <div class="form-field">
                                    {% render_field form.nama_kebijakan|add_class:"form-control  nospaceinput " %}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id_nomor"  class="nama_label">Unggah File Kebijakan</label>
                                {% render_field form.file|add_class:"form-control"|attr:"accept=.pdf"  %}
                            </div>

                            <div class="form-group col-md-12">
                                <label for="id_nomor"  class="nama_label">Masukkan Keterangan Kebijakan</label>
                                <div class="form-field">
                                    {% render_field form.keterangan|add_class:"form-control " style="height:100px;" %}
                                </div>
                            </div>
                            
                            <div class="form-group" style="display: none;">
                                <div class="form-field">
                                    <!-- Anda dapat mengatur nilai updated_by dengan username atau informasi lain yang sesuai -->
                                    <input type="text" name="updated_by" class="form-control" value="{{ request.user.id }}" readonly>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.jenis_kebijakan_u').select2(
        {
            dropdownParent: $("#modalxy"),
            width:'100%',
        }
    );

});
  </script>
  
