{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>
    /* .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }

    
    a.active {
        border-bottom: 2px solid blue!important;
        background-color:transparent!important;
    }

    .nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
    }
    .nav-link:hover {
    color: #55c57a;
    }

    .nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    }

    /* ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
    } */

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }

    .card-footer{
        display: none;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        height: 37px !important;   
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        height: 37px !important;   
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #007bff;
        border-color: #006fe6;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #fff;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    {% comment %} <div class="container-fluid"> {% endcomment %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header" style="background-color: #6C757D;">
                            <h1 style="color: white;font-size: 14px;font-weight: bold;">Beauty Contest &gt; Penilaian Beauty Contest			
                            </h1>
                        </div>
                        <div class="card-body">
                            {% if user_type == "C" %}
                            {% add_judul_auctioner user.id item_lelang.id "/beauty_contest/penilaian/" %}
                            {% elif user_type == "V" %}
                            {% add_judul_viewer user.id item_lelang.id "/beauty_contest/penilaian/" %}
                            {% elif user_type == "A" %}
                            {% add_judul_admin user.id item_lelang.id "/beauty_contest/penilaian/" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">        
            {% include "tabs_all.html" %}
        </div>
    </div>
    <p style="display: none;" text="{{user.id}}" id="tricky_user_id"></p>
    <p style="display: none;" id="tricky_user_bidder_id"></p>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}

<script>
var item_lelang;
$(document).ready(function() {
    {% include "js/js_temp_all.html" %}
    function loadInputPenilaian(id) {
        $.ajax({
            url: '/beauty_contest/penilaian_group/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#obyekip");
                table.empty();
                table.append(data);
    /*            $.each(data.results, function (a,b) {
                    table.append("<tr><td>"+b.eligibility_point_per_block+"</td>" +
                        "<td>"+b.teknologi+"</td>"+
                        "<td>" + b.reserved_price + "</td>" +
                        "<td>" + b.band + "</td>" +
                        "<td>" + b.rentang_frekuensi + "</td></tr>");
                });*/
            }
        });
    }
    function loadHasilPenilaian(id) {
        $.ajax({
            url: '/beauty_contest/hasil_bc/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#obyekhasil");
                table.empty();
                table.append(data);
    /*            $.each(data.results, function (a,b) {
                    table.append("<tr><td>"+b.eligibility_point_per_block+"</td>" +
                        "<td>"+b.teknologi+"</td>"+
                        "<td>" + b.reserved_price + "</td>" +
                        "<td>" + b.band + "</td>" +
                        "<td>" + b.rentang_frekuensi + "</td></tr>");
                });*/
            }
        });
    }
    var id = $("#nmlelang").val();
    loadInputPenilaian(id);
    loadHasilPenilaian(id);
    $("#init_btn").on("click",function() {
        swal.fire({
            title: "Inisialisasi Beauty Contest",
            text: "Menginisialisasi Seleksi Penawaran Beauty Contest?",
            icon: "success",
            showCancelButton: true,
        }).then((result)=> {
            if (result.isConfirmed) {
                waitingPopup = Swal.fire({
                    title: "Menunggu inisiasi selesai",
                    html: "Silakan tunggu!<br>",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    },
                });
                $.ajax({
                    url: '/beauty_contest/api/v1/input_penilaian/'+$("#nmlelang").val()+'/init/',
                    method: "GET",
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (data) {
                        swal.fire("Inisialisasi Input Parameter Selesai")
                        waitingPopup.close();
                        loadInputPenilaian(id);
                    }
                });
            }
        });
    })    
    $("#init2_btn").on("click",function() {
        swal.fire({
            title: "Inisialisasi Hasil Beauty Contest",
            text: "Menginisialisasi Hasil Seleksi Penawaran Beauty Contest?",
            icon: "success",
            showCancelButton: true,
        }).then((result)=> {
            if (result.isConfirmed) {
                waitingPopup = Swal.fire({
                    title: "Menunggu inisiasi selesai",
                    html: "Silakan tunggu!<br>",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    },
                });                $.ajax({
                    url: '/beauty_contest/api/v1/hasil/'+$("#nmlelang").val()+'/init/',
                    method: "GET",
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (data) {
                        waitingPopup.close();
                        swal.fire("Inisialisasi Hasil Selesai")
                        loadHasilPenilaian(id);
                    }
                });
            }
        });
    })   
    $("#obyekip").on("click",".update", function(data) {
        id = this.id;
        showEditModal({
            formURL: "/beauty_contest/beauty_contest/modal_update_penilaian_bc/"+id+"/",
            drfURL: "/beauty_contest/api/v1/input_penilaian/"+id+"/",
            csrf: "{{ csrf_token }}",
            onSuccess: function(response) {
                var id = $("#nmlelang").val();
                loadInputPenilaian(id);
                swal.fire("Berhasil diupdate")
                $('#modal').modal('toggle')
            }
        })
    })
});

</script>
{% endblock %}