{% load django_tables2 %}
{% load i18n %}
{% block table-wrapper %}
    {% block table %}
    <div class="col-md-12"  style="padding:10px;">
    {% for row in table.paginated_rows %}
    <div class="col">
        <div class="col">
            
        {% for column, cell in row.items %}
            <div class="row">
            {% if column.localize == None %}
               
                    <div class="col-md-3 text-bold" style="color:#142b72;font-weight:700;font-size:12px;">{{column.header}}</div>
                    <div class="col-md-9 text-dark" style="margin-bottom:10px;font-size:12px;">{{ cell|linebreaks }}</div>
               
            {% else %}
                {% if column.localize %}
                <div class="col-md-2">{{column.header}}</div><div class="col-md-10">{{ cell|localize }}</div>
                {% else %}
                <div class="col-md-2">{{column.header}}</div><div class="col-md-10">{{ cell|unlocalize }}</div>
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
    {% endblock table %}

{% endblock table-wrapper %}
