{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }
    .card-footer{
        display: none;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    {% comment %} <div class="container-fluid"> {% endcomment %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header" style="background-color: #6C757D;">
                            <h1 style="color: white;font-size: 14px;font-weight: bold;">Administrasi &gt; Permohonan Keikutsertaan</h1>
                        </div>
                        <div class="card-body">
                            {% if user_type == "C" %}
                            {% add_judul_auctioner user.id item_lelang.id "/administrasi/keikutsertaan/" %}
                            {% elif user_type == "V" %}
                            {% add_judul_viewer user.id item_lelang.id "/administrasi/keikutsertaan/" %}
                            {% elif user_type == "A" %}
                            {% add_judul_admin user.id item_lelang.id "/administrasi/keikutsertaan/" %}
                            {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">        
            <div class="row">
                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#detil" role="tab">Detail Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#home" role="tab">Obyek Seleksi</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#permohonan" role="tab">Permohonan Keikutsertaan Seleksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#bukti" role="tab">Daftar Bukti Permohonan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#draft" role="tab">Draft BA Permohonan Keikutsertaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#ba" role="tab">BA Permohonan Keikutsertaan</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content col-md-12">
                    <div class="tab-pane" id="detil" role="tabpanel">
                        <div class="card p-3">
                            <div class="container px-5 my-5" id="item_lelang_display" >
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="home" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Obyek Seleksi&nbsp;</h2>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="obyek" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Band</th>
                                                <th>Rentang Frekuensi</th>
                                                <th>Teknologi</th>
                                                <th>Reserved Price</th>
                                                <th>Eligibility/Block</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="permohonan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Permohonan Keikutsertaan Seleksi</h2>
                                        <button id="tambah_permohonan" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objekp_keikutsertaan" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>                    
                    <div class="tab-pane" id="bukti" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Daftar Bukti Permohonan</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objekdaftarbukti" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="draft" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Draft BA Permohonan Keikutsertaan</h2>
                                        <button id="tambahbapermohonan" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objekdraftba" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="ba" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive" style="width: 100%;">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">BA Permohonan Keikutsertaan</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objekba" class="dt" style="width: 100%;">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-form@4.3.0/dist/jquery.form.min.js"></script>
<script>
    $(document).ready(function() {
        $(document).on('change', '#id_file',function() {
            console.log(1);
            var fileInput = $(this);
            var file = fileInput[0].files[0];
            var fileType = file.type;
            
            if (fileType !== 'application/pdf') {
              alert('Hanya file PDF yang diperbolehkan.');
              $('#id_file').val('');
            }
        });
    });    
var item_lelang;
$(document).ready(function() {
  
  function loadDatap_keikutsertaan(id) {
    $.ajax({
        url: '/administrasi/administrasi/permohonan_keikutsertaan/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#objekp_keikutsertaan");
            table.empty();
            table.append(data);
        }
    });
  }

  function loadDatap_keikutsertaan2(id) {
    $.ajax({
        url: '/administrasi/administrasi/permohonan_keikutsertaan2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#objekdaftarbukti");
            table.empty();
            table.append(data);
        }
    });
  }

  function loadData_bakeikutsertaan(id) {
    $.ajax({
        url: '/administrasi/administrasi/ba_administrasi/'+id + '/PERMOHONAN/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#objekdraftba");
            table.empty();
            table.append(data);
        }
    });
  }

  function loadData_bakeikutsertaan2(id) {
    $.ajax({
        url: '/administrasi/administrasi/ba_administrasi2/'+id + '/PERMOHONAN/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#objekba");
            table.empty();
            table.append(data);
        }
    });
  }

    let id_item_lelang = null;

    id_item_lelang = $('#nmlelang').val();
        loadDatap_keikutsertaan(id_item_lelang);
        loadDatap_keikutsertaan2(id_item_lelang);
        loadData_bakeikutsertaan(id_item_lelang);
        loadData_bakeikutsertaan2(id_item_lelang);

    // create
    $("#tambah_permohonan").click(function() { 
        showModal({
            formURL: "/administrasi/administrasi/modal_permohonan_keikutsertaan/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/administrasi/api/v1/permohonan_keikutsertaan/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadDatap_keikutsertaan(document.getElementById('item_lelang').value);
            }
        });
    });

    $("#tambahbapermohonan").click(function() { 
        showModal({
            formURL: "/administrasi/administrasi/modal_ba_permohonan_keikutsertaan/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/administrasi/api/v1/berita_acara/",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_bakeikutsertaan(document.getElementById('item_lelang').value);
            }
        });
    });
    // edit
    $("#objekp_keikutsertaan").on("click",".keikutsertaan_update",function() {
        showModal({
            formURL: "/administrasi/administrasi/modal_update_permohonan_keikutsertaan/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/administrasi/api/v1/permohonan_keikutsertaan/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadDatap_keikutsertaan(document.getElementById('item_lelang').value);
            }
        })
    });

    $("#objekdraftba").on("click",".ba_pemeriksaan_update",function() {
        showModal({
            formURL: "/administrasi/administrasi/modal_update_ba_permohonan_keikutsertaan/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/administrasi/api/v1/berita_acara/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_bakeikutsertaan(document.getElementById('item_lelang').value);
            }
        })
    });
    // hapus
    $("#objekp_keikutsertaan").on("click",".keikutsertaan_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/administrasi/api/v1/permohonan_keikutsertaan/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadDatap_keikutsertaan(document.getElementById('item_lelang').value);
                });
            }
        });
    });

    $("#objekdraftba").on("click",".ba_pemeriksaan_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/administrasi/api/v1/berita_acara/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadData_bakeikutsertaan(document.getElementById('item_lelang').value);
                });
            }
        });
    });
    ////

    // function load_itemlelang_form(data) {
    //     checkRecord({        
    //         drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
    //         onSuccess: function(response) {
    //             loadForm({
    //                 element_id: "#item_lelang_display",
    //                 form_id: "#item_lelang_form",
    //                 formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
    //                 drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
    //                 method: 'PUT',
    //                 onSuccess: function(response) {
    //                     console.log(response);
    //                 }
    //             });
    //         },
    //         onError: function(response) {
    //             loadForm({
    //                 element_id: "#item_lelang_display",
    //                 form_id: "#item_lelang_form",
    //                 formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
    //                 drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
    //                 onSuccess: function(response) {
    //                     console.log(response);
    //                 }
    //             });
    //         }
    //     });
    // }

});

</script>
{% endblock %}