{% load widget_tweaks %}
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header">
                <h3 class="modal-title">Upload Pengumuman Hasil Evaluasi</h5>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form name="item_lelang" id="item_lelang" method="POST" >
                            {% csrf_token %}
                            {% render_field form.item_lelang %}
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Nomor</label>
                                {% render_field form.nomor|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Judul</label>
                                {% render_field form.judul|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Tanggal & Waktu</label>
                              {% comment %}  <!-- {% render_field form.tanggal|add_class:"form-control" type="datetime-local" %} -->{% endcomment %}
                                {% render_field form.tgl_release|add_class:"form-control" type="datetime-local" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Pengumuman</label>
                                {% render_field form.pengumuman|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">File</label>
                               {% comment %} {% render_field form.file|add_class:"form-control" %}{% endcomment %}
                               {% render_field form.dokumen|add_class:"form-control" %}
                            </div>
                            <div class="" style="text-align: right;">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                <input type="submit" class="btn btn-primary" value="Simpan">
                            </div>
                        </form>
                    </div>  
                </div>              
            </div>
        </div>
    </div>
</div>