{% load widget_tweaks %}
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
            <h5 class="modal-title">Undangan Revisi sampul 2</h5>
            <button type="button" class="close" data-dismiss="modal">x</button>
		</div>
		<div class="modal-body">
            <form name="item_lelang" id="item_lelang" method="POST" >
                {% csrf_token %}
                {% render_field form.item_lelang %}
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Nomor</label>
                        {% render_field form.nomor|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Judul</label>
                        {% render_field form.judul|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Tanggal</label>
                        {% render_field form.tanggal|add_class:"form-control" type="datetime-local" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Agenda</label>
                        {% render_field form.agenda|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Tempat</label>
                        {% render_field form.tempat|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Keterangan</label>
                        {% render_field form.keterangan|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Link Teleconference</label>
                        {% render_field form.link_teleconference|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">file</label>
                        {% render_field form.file|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="nama_pengguna" class="col-form-label">Bidder :</label>
                        {% render_field form.bidder|add_class:"select2bs4 form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="nama_pengguna" class="col-form-label">Auctioneer :</label>
                        {% render_field form.auctioneer|add_class:"select2bs4 form-control" %}
                    </div>
                </div>
                
                <div class=""  style="text-align: right;">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                    <input type="submit" class="btn btn-primary" value="Simpan">
                    <div id="menanti" class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </form>
        </div>
	  </div>
	</div>
  </div>
  </script>

{% load widget_tweaks %}
<!-- <div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
            <h5 class="modal-title">Undangan Revisi sampul 2</h5>
            <button type="button" class="close" data-dismiss="modal">x</button>
		</div>
		<div class="modal-body">
            <p id="data_modal" style="display: none;">add_rev_sampul2_undangan</p>
              <div class="card-body">
                    <form id="coba" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% render_field form.item_lelang %}
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Nomor</label>
                        {% render_field form.nomor|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Judul</label>
                        {% render_field form.judul|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Tanggal</label>
                        {% render_field form.tanggal|add_class:"form-control" type="datetime-local" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Tempat</label>
                        {% render_field form.tempat|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Agenda</label>
                        {% render_field form.agenda|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Link Teleconference</label>
                        {% render_field form.link_teleconference|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="keterangan">Keterangan</label>
                        {% render_field form.keterangan|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">file</label>
                        {% render_field form.file|add_class:"form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="nama_pengguna" class="col-form-label">Bidder :</label>
                        <select class="form-control select2bs4 select2-primary" style="width: 100% !important; height: 30px !important;" multiple="multiple" id="id_bidder_2" name="bidder_2">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nama_pengguna" class="col-form-label">Auctioneer :</label>
                        <select class="form-control select2bs4 select2-primary" style="width: 100% !important; height: 30px !important;" multiple="multiple" id="id_auctioneer_2" name="auctioneer_2">
                        </select>
                    </div>
                    <div class="" style="text-align: right;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                        <input type="submit" class="btn btn-primary" value="Simpan" id="submitBtn">
                    </div>
            </form>
        </div>
	  </div>
	</div>
  </div> -->
  <script>
    document.getElementById("item_lelang").addEventListener("submit", function(event) {
        document.getElementById("submitBtn").disabled = true; 
    });
  </script>