<div class="card">
    <div class="card-header">
        <h3>Hasil Evaluasi Revisi Penawaran</h3>
    </div>
    <div class="card-body">
        <div class="col">
            {% comment %} <table  id="objek_pemilihanblok" class="dt" style="width: 100%"> {% endcomment %}
            <table  id="hasil_evaluasi_nego" class="dt" style="width: 100%">
            </table>
        </div>
    </div>
</div> 
<div class="card">
    <div class="card-header">
        <h3>Hasil Negosiasi</h3>
    </div>
    <div class="card-body">
        <div class="col">
            {% comment %} <table  id="objek_pemilihanblok" class="dt" style="width: 100%"> {% endcomment %}
            <table  id="hasil_nego" class="dt" style="width: 100%">
            </table>
        </div>
    </div>
</div> 
