{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<link href="/static/css/bs_datetimepicker.min.css" rel="stylesheet" >
<style>
    /* .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }

    
    a.active {
        border-bottom: 2px solid blue!important;
        background-color:transparent!important;
    }

    .nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
    }
    .nav-link:hover {
    color: #55c57a;
    }

    .nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    }

    /* ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
    } */

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #d9ecff;
    }
   
    .aktif{
        color: #33cc33;
    }
    .aktif-striped{
        color: #33cc33;
    } */
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 200px;
    }
</style>
{% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    {% comment %} <div class="container-fluid"> {% endcomment %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h1 style="color: rgb(0,114,228);font-size: 24px;font-weight: bold;">Lelang - Management Bidder CCA </h1>
                        </div>
                        <div class="card-body">
                            {% add_judul_bidder user.id item_lelang.id "/cca/manajemen_cca/" %}
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
        <div class="card-body">        
            <div class="row">
                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="pill" href="#undangan" role="tab">Undangan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#putaran" role="tab">Jadwal Penawaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#berita_acara_harian" role="tab">Berita Acara Harian</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#berita_acara" role="tab">Berita Acara Penawaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#price_increase" role="tab">Kenaikan Harga Penawaran</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content col-md-12">
                    <div class="tab-pane active" id="undangan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Undangan</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_undangan" class="dt" style="width:100%">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="tab-pane" id="putaran" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Jadwal Putaran Penawaran Harga&nbsp;</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_putaran" class="dt" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>item_lelang</th>
                                                <th>item_detail_lelang</th>
                                                <th>persyaratan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="tab-pane" id="berita_acara_harian" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Berita Acara Harian&nbsp;</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_ba" class="dt" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>item_lelang</th>
                                                <th>item_detail_lelang</th>
                                                <th>persyaratan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="berita_acara" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Berita Acara Harian&nbsp;</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_ba" class="dt" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>item_lelang</th>
                                                <th>item_detail_lelang</th>
                                                <th>persyaratan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="price_increase" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Kenaikan Harga Penawaran&nbsp;</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="t_price_increase" class="dt" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>item_lelang</th>
                                                <th>rentang</th>
                                                <th>kenaikan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}
{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}
    
<script>

$(document).ready(function() {
  
  var id = $('#nmlelang').val();
  function loadData_Putaran(id) {
    $.ajax({
        url: '/smra/jadwal_putaran/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_putaran");
            table.empty();
            table.append(data);
        }
    });
  }

  function loadData_undangan(id) {
    $.ajax({
        url: '/cca/undangan_au/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_undangan");
            table.empty();
            table.append(data);
        }
    });
  }

  function loadData_price_increase(id) {
    $.ajax({
        url: '/cca/price_increase/'+id +'/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#t_price_increase");
            table.empty();
            table.append(data);
        }
    });
  }

  //loadData(id);
  loadData_Putaran(id);
  loadData_undangan(id);
  loadData_price_increase(id);
  loadData({URL: '/cca/ba_au1/'+id+'/', element_id: $("#t_ba")})


  /*$('#nmlelang').on('select2:select', function (e) {
    var id = e.params.data.id;
    $("#item_lelang").val(id);
    loadData(id);
    loadData_Putaran(id);
    loadData_draftundangan(id);
    loadData_undangan(id);
    loadData_price_increase(id);
  });*/
//   $(".dt").DataTable({paging: false, ordering: false,info: false,searching: false});

    // create
    

});
</script>
{% endblock %}