{% block extrahead %}
<!-- <link href="https://unpkg.com/survey-jquery/defaultV2.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/survey-jquery"></script> -->

<style>
    .navbar {
        height: 64px;
        background-color: #007bff;
      }
    .brand-img {
        height: 51.94px;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    .footer_bg {
        background: url(/static/img/portal/background-footer.png);
    }
    .banner {
        background: url(/static/img/portal/background-slider.png);
        height: 768px;
        width: 100%;
    }
    .logobesar {
        position: absolute;
        left: 85;
        top: 209;
    }
    .portal_penjelasan {
        position: absolute;
        left: 85;
        top: 411;
        width: 643;
    }
    .button_yuk_mulai {
        position: absolute;
        left: 85;
        top: 520;
        width: 133;
    }
    .sdppi_side {
        position: absolute;
        right: 0;
        top: 652;
    }
    .bi {
        vertical-align: -.125em;
        pointer-events: none;
        fill: currentColor;
      }
      .nav-flush .nav-link {
        border-radius: 0;
      }
    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%; 
        height: 300px;
        float: left;
    }
    .sv_row{
        background-color: white;
    }

    .sv_p_title{
        padding-left: 0.7em;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col col-md-12">
        <div class="card mt-5" id="management_block">
            <div class="card-header">
                <div class="h4 float-start">Manajemen Users Biodata Admin Edit</div>
                <div hx-target="#management_block" hx-swap="outerHTML">
                    <!-- <button hx-get="users/add/bidder/add" id="bidderpindahpage" type="button" class="btn btn-secondary float-end">bidder</button> -->
                </div>
            </div>
            <div class="card-body">
                <div id="form_survey"></div>
            </div>
            <div style="display: flex; justify-content: flex-end; padding-right: 20px; padding-bottom: 20px;">
                <button class="btn btn-danger" onclick="tombol_batal()" style="margin-right: 20px;">Batal</button>
                <button class="btn btn-success" onclick="tombol_selanjutnya()">simpan</button>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
(function () {
    'use strict'
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })()
</script>
<script>
    var surveyDialog;
    var fill_data1;
    var fill_data2;
    var fill_data;

    var data_users;
    var data_users_id;

    $(document).ready(function() {
        const label_tricky = document.getElementById('data_id_tricky');
        const hasil = label_tricky.getAttribute('text');
        data_users_id = hasil;
        // survey_js();
        // console.log(data_users_id);

        $.ajax({
            method: 'GET',
            url: 'http://iotekno.id:8000/userman/api/v1/Users/'+hasil+'/',
            contentType : 'application/json',
            dataType : 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Basic ' + btoa('rachmatg:P@ssw0rd.2019'));
                },
                success: function (data) {
                    console.log(data);
                    data_users = data;
                    fill_data1 = 
                    {
                        "username": data.username,
                        "nama_lengkap": data.nama_lengkap,
                        "user_type": data.user_type,
                    }

                    manggil_data_admin();
                },
                error: function(error) {
                    console.log(error);
                    //$('#retValStatus').text("Ada masalah pada pengiriman data...");
                }
        });

    });

    function manggil_data_admin(){
        $.ajax({
            method: 'GET',
            url: 'http://iotekno.id:8000/userman/api/v1/admin/?users='+data_users_id,
            contentType : 'application/json',
            dataType : 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Basic ' + btoa('rachmatg:P@ssw0rd.2019'));
                },
                success: function (data) {
                    console.log(data.results);
                    fill_data2 = 
                    {
                        "id": data.results[0].id,
                        "nip": data.results[0].nip,
                        "jabatan": data.results[0].jabatan,
                        "jabatan_dalam_tim": data.results[0].jabatan_dalam_tim,
                        "active": data.results[0].active,
                        "sk_pengangkatan": [{"name": "sk_pengangkatan.pdf", "type": "application/pdf", "content": data.results[0].sk_pengangkatan}]
                    }

                    survey_js();
                },
                error: function(error) {
                    console.log(error);
                    //$('#retValStatus').text("Ada masalah pada pengiriman data...");
                }
        });
    }

    function survey_js(){
        fill_data = Object.assign({}, fill_data1, fill_data2)

        var json = {
            "title": "Pertanyaan",
            "logoPosition": "right",
            "pages": [
            {
            "name": "page1",
            "elements": [
            {
            "type": "panel",
            "name": "panel1",
            "elements": [
            {
            "type": "text",
            "name": "username",
            "title": "Username",
            "hideNumber": true
            },
            {
            "type": "text",
            "name": "nama_lengkap",
            "startWithNewLine": false,
            "title": "Nama Pengguna",
            "hideNumber": true
            },
            {
            "type": "dropdown",
            "name": "user_type",
            "title": "Hak Akses",
            "hideNumber": true,
            "choices": [
                {
                "value": "A",
                "text": "Admin"
                },
                {
                "value": "B",
                "text": "Bidder"
                },
                {
                "value": "C",
                "text": "Auctioner"
                },
                {
                "value": "V",
                "text": "View"
                }
                ]
            },
            {
            "type": "panel",
            "name": "panel2",
            "elements": [
                {
                "type": "text",
                "name": "nama_lengkap",
                "title": "Nama",
                "hideNumber": true
                },
                {
                "type": "text",
                "name": "nip",
                "startWithNewLine": false,
                "title": "NIP",
                "hideNumber": true
                },
                {
                "type": "text",
                "name": "jabatan",
                "title": "Jabatan",
                "hideNumber": true
                },
                {
                "type": "text",
                "name": "jabatan_dalam_tim",
                "startWithNewLine": false,
                "title": "Jabatan di Tim",
                "hideNumber": true
                },
                {
                "type": "dropdown",
                "name": "active",
                "title": "Status",
                "hideNumber": true,
                "choices": [
                {
                "value": true,
                "text": "Aktif"
                },
                {
                "value": false,
                "text": "Non Aktif"
                }
                ]
                },
                {
                "type": "file",
                "name": "sk_pengangkatan",
                "startWithNewLine": false,
                "title": "Upload Surat Kuasa",
                "hideNumber": true,
                "maxSize": 0
                }
            ],
            "title": "Daftar Perwakilan Perusahaan"
            }
            ]
            }
        ]
        }
        ],
            "showTitle": false,
            "showCompletedPage": false,
            "showPageNumbers": false,
            "showQuestionNumbers": "off",
            "questionTitleLocation": "left",
            "completeText": "Simpan",
            "showNavigationButtons": "none",
            "widthMode": "responsive"
        };
        Survey.StylesManager.applyTheme("darkblue");
        surveyDialog = new Survey.Model(json,"form_survey");
        surveyDialog.data = fill_data; 
        surveyDialog.onComplete.add(sendDataToServer);
    }

    function sendDataToServer(sender) {
        //send Ajax request to your web server.
            var json_result = sender.data;
            var data_kirim 
            var url = json_result.sk_pengangkatan[0].content;
            const isValidUrl = urlString=> {
                var urlPattern = new RegExp('^(https?:\\/\\/)?'+ // validate protocol
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // validate domain name
                '((\\d{1,3}\\.){3}\\d{1,3}))'+ // validate OR ip (v4) address
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // validate port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?'+ // validate query string
                '(\\#[-a-z\\d_]*)?$','i'); // validate fragment locator
                return !!urlPattern.test(urlString);
            }

            if (isValidUrl(url) == true) {
                var data_kirim = {
                    "nip": json_result.nip,
                    "jabatan_dalam_tim": json_result.jabatan_dalam_tim,
                    "jabatan": json_result.jabatan,
                    "users": json_result.users,
                    "active": json_result.active,
                    "users": data_users_id,
                }
            } else {
                var data_kirim = {
                    "nip": json_result.nip,
                    "jabatan_dalam_tim": json_result.jabatan_dalam_tim,
                    "jabatan": json_result.jabatan,
                    "users": json_result.users,
                    "sk_pengangkatan": json_result.sk_pengangkatan[0].content,
                    "active": json_result.active,
                    "users": data_users_id,
                }
            }

            $.ajax({
                method: 'PUT',
                url: 'http://iotekno.id:8000/userman/api/v1/admin/'+fill_data.id+'/',
                contentType : 'application/json',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType : 'json',
                data: JSON.stringify(data_kirim),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization', 'Basic ' + btoa('rachmatg:P@ssw0rd.2019'));
                    },
                    success: function (data) {
                        swal.fire({
                            title: "Tersimpan !",
                            text: "Data Tersimpan",
                            icon: "success"
                        }).then(function() {
                            location.reload();
                        });
                    },
                    error: function(error) {
                        console.log(error.responseText);
                        swal.fire({
                            title: "Error !",
                            text: error.responseText,
                            icon: "error"
                        })
                    }
            });
        }

    function tombol_batal(){
        window.location.href = "http://iotekno.id:8000/userman/users/";
    }

    function tombol_selanjutnya(){
        surveyDialog.doComplete();
    }
</script>
{% endblock %}
