{% load widget_tweaks %}
<form name="item_lelang" id="item_lelang" method="POST" >
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal modal-dialog-centered modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-edit circle-icon"></i>&nbsp;&nbsp;Perwakilan Perusahaanx</h5>
            <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
		</div>
		<div class="modal-body">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group col-12">
                        <label  class="nama_label">Akun Perusahaan</label>
                        {% render_field form.bidder|add_class:"form-control perusahaannya" %}
                    </div>
                    <div class="form-group col-12">
                        <label  class="nama_label">Nama Lengkap</label>
                        {% render_field form.nama_lengkap|add_class:"form-control" %}
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6" >
                            <label  class="nama_label">NIK</label>
                            {% render_field form.nik_perwakilan|add_class:"form-control" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label  class="nama_label">Jabatan</label>
                            {% render_field form.jabatan|add_class:"form-control" %}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-6">
                            <label  class="nama_label">Email</label>
                            {% render_field form.email|add_class:"form-control" %}
                        </div>
                        <div class="form-group col-6">
                            <label  class="nama_label">Phone</label>
                            {% render_field form.mobile_number|add_class:"form-control" %}
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <label  class="nama_label">Ip Address</label>
                        {% render_field form.ip_address|add_class:"form-control" %}
                    </div>
                    
                    
                    <div class="form-group col-12">
                        <label  class="nama_label">Surat Kuasa</label>
                        {% render_field form.sk_pengangkatan|add_class:"form-control"|attr:"accept= .pdf" %}
                        
                    </div>
                  
                    <div class="form-group col-12">
                        <label  class="nama_label">Status</label><br>
                        &nbsp;&nbsp;{% render_field form.active|add_class:"form-group checknya" %}&nbsp;&nbsp;Aktif
                        <!-- <label class="form-check-label" for="tayang">Aktif?</label> -->
                    </div>
                   
                </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                    </div>
                </div>
            </div>
        </div>
	  </div>
	</div>
  </div>
</form>