{% load widget_tweaks %}
<form id="myForm">
<div id="modal" class="modal fade show" style="display:block;" role="dialog" >
    <div class="modal-dialog modal modal-dialog-centered modal-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-edit circle-icon"></i>&nbsp;&nbsp;Ubah Data Admin</h4>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="telepon" class="nama_label">NIP</label>
                                {% render_field form.nip|add_class:"form-control nospaceinput" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="tipe_akun" class="nama_label">Jabatan</label>
                                {% render_field form.jabatan|add_class:"form-control nospaceinput" %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="tipe_akun" class="nama_label">Jabatan Dalam Tim</label>
                                {% render_field form.jabatan_dalam_tim|add_class:"form-control nospaceinput select2" %}
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="date" class="nama_label">File SK</label>
                                {% render_field form.sk_pengangkatan|add_class:"form-control"|attr:"accept= .pdf" %}
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>