
{% extends "new_index/base1.html" %}
{% load mptt_tags %}
{% load widget_tweaks %}
{% block navbar %}
{% include 'new_index/parts/navbar_kosong.html' %}
{% endblock %}
{% block extrahead %}
<style>
    .tree, .tree ul {
        margin:0;
        padding:0;
        list-style:none
    }
    .tree ul {
        margin-left:1em;
        position:relative
    }
    .tree ul ul {
        margin-left:.5em
    }
    .tree ul:before {
        content:"";
        display:block;
        width:0;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        border-left:1px solid
    }
    .tree li {
        margin:0;
        padding:0 1em;
        line-height:2em;
        color:#369;
        font-weight:700;
        position:relative
    }
    .tree ul li:before {
        content:"";
        display:block;
        width:10px;
        height:0;
        border-top:1px solid;
        margin-top:-1px;
        position:absolute;
        top:1em;
        left:0
    }
    .tree ul li:last-child:before {
        background:#fff;
        height:auto;
        top:1em;
        bottom:0
    }
    .indicator {
        margin-right:5px;
    }
    .tree li a {
        text-decoration: none;
        color:#369;
    }
    .tree li button, .tree li button:active, .tree li button:focus {
        text-decoration: none;
        color:#369;
        border:none;
        background:transparent;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        outline: 0;
    }
</style>
{% endblock %}
{% block konten_isi %}
<div class="card card-primary card-outline">
    <div class="card-header">
        <div style="display: flex; justify-content: space-between; align-items: center; align-content: center; flex-wrap: nowrap; flex-direction: row;">
            <div class="h4 float-start">Manajemen Tahapan</div>
            <button type="button" id="tambah_menu" class="btn btn-primary float-end" style="font-size:14px;"><i class="fa-regular fa-square-plus"></i> Tambah Baru</button>
        </div>
    </div>
<div class="card-body">
    <div class="col col-md-12">
        <ul id="tree1" class="root">
            {% recursetree object_list %}
                <li>
                    <span>{{ node.name }} <btn id="{{node.id}}" class="edit btn btn-outline"><i class="fa fa-edit"></i></btn></span> 
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>

            {% endrecursetree %}
        </ul>
    </div>
</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}
<script>
    $.fn.extend({
        treed: function (o) {
          
          var openedClass = 'fas fa-chevron-right';
          var closedClass = 'fas fa-chevron-left';
          
          if (typeof o != 'undefined'){
            if (typeof o.openedClass != 'undefined'){
            openedClass = o.openedClass;
            }
            if (typeof o.closedClass != 'undefined'){
            closedClass = o.closedClass;
            }
          };
          
            //initialize each of the top levels
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this); //li with children ul
                branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this == e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                })
                branch.children().children().toggle();
            });
            //fire event from the dynamically added icon
          tree.find('.branch .indicator').each(function(){
            $(this).on('click', function () {
                $(this).closest('li').click();
            });
          });
            //fire event to open branch if the li contains an anchor instead of text
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            //fire event to open branch if the li contains a button instead of text
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    
    //Initialization of treeviews
    
    $('#tree1').treed();       
</script>
<script>
    $(document).ready(function() {
        $("#tambah_menu").on( "click", function(data) {
            showModal2({
                formURL: "/userman/modal_tahapan/",
                drfURL: "/adm_lelang/api/v1/tahapan_lelang/",
                csrf: '{{csrf_token}}',
                onSuccess: function(response) {
                    $("#modal").modal('toggle');
                    location.reload();
                }
            });
        });
        $("#tree1").on( "click", ".edit", function(data) {
            showEditModal({
                formURL: "/userman/modal_tahapan/"+this.id+'/',
                drfURL: "/adm_lelang/api/v1/tahapan_lelang/"+this.id+'/',
                csrf: '{{csrf_token}}',
                onSuccess: function(response) {
                    $("#modal").modal('toggle');
                    location.reload();
                }
            });
        });
    });
</script>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}