{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>



    </style>
    {% endblock %} 
    {% block navbar %}
    {% include 'new_index/parts/navbar_kosong.html' %}
    {% endblock %}
    {% block konten_isi %}
    
    <div class="row jdl_atas_background">
        <div class="col-md-12"> 
            <span class="jdl_atas">Pasca Seleksi &gt; Pemilihan Bloks</span>
        </div>
    
        <br><br>
        {% if user_type == "C" %}
        {% add_judul_auctioner user.id item_lelang.id "/pasca_seleksi/pemilihan_blok/" %}
        {% elif user_type == "V" %}
        {% add_judul_viewer user.id item_lelang.id "/pasca_seleksi/pemilihan_blok/" %}
        {% elif user_type == "A" %}
        {% add_judul_admin user.id item_lelang.id "/pasca_seleksi/pemilihan_blok/" %}
        {% endif %}
                    
    </div>
     <br>
    <div class="col tabs_bc">       
        {% include "tabs_all.html" %}
        zzzz
    </div>
    
        
        <div class="card-body">        
            <div class="row">
                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                    
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#penyampaian_pertanyaan" role="tab">Kirim Undangan Pemilihan Blok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#dasar" role="tab">Undangan Pemilihan Blok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#form" role="tab">Form Pemilihan Blok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#Verifikasi" role="tab">Kendali</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#hasil" role="tab">Hasil Pemilihan Blok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#draf" role="tab">Draft BA Pemilihan Blok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-bold" data-toggle="pill" href="#ba" role="tab">BA Pemilihan Blok</a>
                    </li>
                    <!-- <li class="nav-item"> -->
                        <!-- <a class="nav-link text-bold" data-toggle="pill" href="#hasel" role="tab">Hasil Seleksi Akhir</a> -->
                    <!-- </li> -->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content col-md-12">
                    <div class="tab-pane" id="detil" role="tabpanel">
                        <div class="card p-3">   
                            <div class="container px-5 my-5" id="item_lelang_display" >
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="tab-pane" id="home" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Obyek Seleksi&nbsp;</h2>
                                        <!-- <button id="tambah_obyek" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="obyek" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Band</th>
                                                <th>Rentang Frekuensi</th>
                                                <th>Teknologi</th>
                                                <th>Reserved Price</th>
                                                <th>Eligibility/Block</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <div class="tab-pane active" id="penyampaian_pertanyaan" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Kirim Undangan Pemilihan Blok</h2>
                                        <button id="tambah_undangan_pemelihan_blok" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objek_undangan_pemelihan_blok" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="tab-pane" id="dasar" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Undangan Pemilihan Blok</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objek_undangan_pemilihan_blok_view" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="form" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Form Pemilihan Blok</h2>
                                        <button id="tambah_pemilihanblok" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    {% comment %} <table  id="objek_pemilihanblok" class="dt" style="width: 100%"> {% endcomment %}
                                    <table  id="objek_pemilihanblok_dummy" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Obyek Seleksi</th>
                                                <th>Blok ke</th>
                                                <th>Pemenang</th>
                                                <th>Harga Penawaran</th>
                                                <th>Peringkat Harga</th>
                                                <th>Blok Yang Dipilih</th>
                                                    
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="Verifikasi" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Kendali</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    {% comment %} <table  id="objek_pemilihanblok_update" class="dt" style="width: 100%"> {% endcomment %}
                                    <table  id="objek_pemilihanblok_dummy" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                


                                                <th>Obyek Seleksi</th>
                                                <th>Blok ke</th>
                                                <th>Pemenang</th>
                                                <th>Harga Penawaran</th>
                                                <th>Peringkat Harga</th>
                                                <th >Blok Yang Dipilih</th>
                                                <th>Aktifasi Pemilihan</th>
                                                <th>Pemenang</th>
                                                <th>Persetujuan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="hasil" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Hasil Pemilihan Blok</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    
                                    {% comment %} <table  id="objek_pemilihanblok_view" class="dt" style="width: 100%"> {% endcomment %}
                                    <table  id="objek_pemilihanblok_dummy" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Obyek Seleksi</th>
                                                <th>Blok ke</th>
                                                <th>Pemenang</th>
                                                <th>Harga Penawaran</th>
                                                <th>Peringkat Harga</th>
                                                <th>Blok Yang Dipilih</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="draf" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Draft BA Pemilihan Blok</h2>
                                        <button id="tambah_draft_ba" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objek_draft_ba" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="ba" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">BA Pemilihan Blok</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objek_ba" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="tab-pane" id="hasel" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-12 col-sm-12 table-responsive">
                                    <div class="form-group form-inline">
                                        <h2 style="color: rgb(0,114,228);font-size: 16px;font-weight: bold;">Hasil Seleksi Akhir</h2>
                                        <button id="tambah_pengumuman" class="btn btn-outline ml-2"><i class="icon text-light"><img style="height:18px;" src="/static/img/plus.svg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col">
                                    <table  id="objekpengumumanseleksi" class="dt" style="width: 100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>    
        </div>
    </div>
    <!-- tricky get bidder sesuai akun -->
       
    <!--  -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
{% endblock %}
{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}
{% block script %}
<script>
    function deleteData(options) {
        var defaults = {
            element_id: "#form",
            form_id: "#form",
            id: null,
            drfURL: null,
            onSuccess: null,
            onError: null,
            errorClass: ".invalid",
        };
        var settings = $.extend(defaults, options);
        Swal.fire({
            icon: 'warning',
            title: 'Hapus data',
            text: "Ingin menghapus data ini ?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'DELETE',
                    url: settings.drfURL+settings.id+'/',
                    contentType : 'application/json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType : 'json',
                    success: function (data) {
                        settings.onSuccess(data);
                    },
                    error: function(error) {
                        swal.fire("Menghapus gagal. Yang dihapus sudah ada obyeknya.")
                    }
                });
            } else if (result.isDenied) {
            }
        })
    };
</script>
<script>
var item_lelang;

$(document).ready(function() {
    var typeValue = $('#tricky_user_type').attr('text');
    var idValue = $('#tricky_user_id').attr('text');

    if (typeValue == "B") {
        $.ajax({
            url: '/userman/api/v1/bidder_perwakilan/?users_id='+idValue+'',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var bidder_id = data.results[0].bidder_id;
                $('#tricky_user_bidder_id').attr('text', bidder_id);
            }
        });
    }

  
    //  load data
    function load_itemlelang_form(data) {
        checkRecord({        
            drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
            onSuccess: function(response) {
                loadForm({
                    element_id: "#item_lelang_display",
                    form_id: "#item_lelang_form",
                    formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
                    drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
                    method: 'PUT',
                    onSuccess: function(response) {
                    }
                });
            },
            onError: function(response) {
                loadForm({
                    element_id: "#item_lelang_display",
                    form_id: "#item_lelang_form",
                    formURL: "/adm_lelang/adm_lelang/item_lelang/update/"+data+"/",
                    drfURL: "/adm_lelang/api/v1/item_lelang/"+data+"/",
                    onSuccess: function(response) {
                    }
                });
            }
        });
    }
  
    function loadData(id) {
    $.ajax({
        url: '/adm_lelang/adm_lelang/detail_itemlelang2/'+id + '/',
        method: "GET",
        xhrFields: {
            withCredentials: true
        },
        success: function (data) {
            var table = $("#obyek");
            table.empty();
            table.append(data);
        }
    });
  }

    function loadData_undangan_pemilihan_block(id) {
        $.ajax({
            url: '/pasca_seleksi/pasca_seleksi/undangan_p_blok/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#objek_undangan_pemelihan_blok");
                table.empty();
                table.append(data);
            }
        });
    }

    function loadData_undangan_pemilihan_block_view(id) {
        $.ajax({
            url: '/pasca_seleksi/pasca_seleksi/undangan_p_blok2/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#objek_undangan_pemilihan_blok_view");
                table.empty();
                table.append(data);
            }
        });
    }

    function loadData_pemilihan_block(id) {
        $.ajax({
            url: '/pasca_seleksi/pasca_seleksi/pemilihan_blok/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#objek_pemilihanblok");
                table.empty();
                table.append(data);
            }
        });
    }

    // update
    function loadData_pemilihan_block_update(id) {
        $.ajax({
            url: '/pasca_seleksi/pasca_seleksi/pemilihan_blok3/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#objek_pemilihanblok_update");
                table.empty();
                table.append(data);
            }
        });
    }

    function loadData_pemilihan_block_view(id) {
        $.ajax({
            url: '/pasca_seleksi/pasca_seleksi/pemilihan_blok2/'+id + '/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#objek_pemilihanblok_view");
                table.empty();
                table.append(data);
            }
        });
    }

    function loadData_ba_pemilihan_block(id) {
        $.ajax({
            url: '/pasca_seleksi/pasca_seleksi/berita_acara/'+id + '/PEMILIHAN/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#objek_draft_ba");
                table.empty();
                table.append(data);
            }
        });
    }

    function loadData_ba_pemilihan_block_view(id) {
        $.ajax({
            url: '/pasca_seleksi/pasca_seleksi/berita_acara2/'+id + '/PEMILIHAN/',
            method: "GET",
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                var table = $("#objek_ba");
                table.empty();
                table.append(data);
            }
        });
    }

    let id_item_lelang = null;

    $('#nmlelang').on('select2:select', function (e) {
        id_item_lelang = e.params.data.id;
        $("#item_lelang").val(id_item_lelang);
        $("#updatejudul").prop('disabled', false);
        $("#disablejudul").prop('disabled', false);
        loadData(id_item_lelang)
        {% comment %} load_itemlelang_form(id_item_lelang); {% endcomment %}
        loadData_undangan_pemilihan_block(id_item_lelang);
        loadData_pemilihan_block_update(id_item_lelang);
        loadData_undangan_pemilihan_block_view(id_item_lelang);
        loadData_pemilihan_block(id_item_lelang);
        loadData_pemilihan_block_view(id_item_lelang);
        loadData_ba_pemilihan_block(id_item_lelang);
        loadData_ba_pemilihan_block_view(id_item_lelang);
    });
    
    // ditambahin objek seleksi(model detail item lelang)//
    // create
    $("#tambah_undangan_pemelihan_blok").click(function() { 
        showModal({
            formURL: "/pasca_seleksi/pasca_seleksi/modal_undangan_p_blok/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/pasca_seleksi/api/v1/blok/",
            onSuccess: function(response) {
                loadData_undangan_pemilihan_block(document.getElementById('item_lelang').value)
                $("#modal").modal('hide');
            }
        });
    });

    $("#tambah_pemilihanblok").click(function() { 
        showModal({
            formURL: "/pasca_seleksi/pasca_seleksi/modal_pemilihan_blok/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/pasca_seleksi/api/v1/pemilihan_blok/",
            onSuccess: function(response) {
                loadData_pemilihan_block(document.getElementById('item_lelang').value)
                $("#modal").modal('hide');
            }
        });
    });

    // $("#tambah_undangan_pemelihan_blok").click(function() { 
    //     showModal({
    //         formURL: "/pasca_seleksi/pasca_seleksi/modal_obyek_seleksi/"+document.getElementById('item_lelang').value+"/",
    //         drfURL: "/pasca_seleksi/api/v1//",
    //         onSuccess: function(response) {
    //         }
    //     });
    // });

    $("#tambah_draft_ba").click(function() { 
        showModal({
            formURL: "/pasca_seleksi/pasca_seleksi/modal_ba_p_blok/"+document.getElementById('item_lelang').value+"/",
            drfURL: "/pasca_seleksi/api/v1/berita_acara/",
            onSuccess: function(response) {
                loadData_ba_pemilihan_block(document.getElementById('item_lelang').value)
                $("#modal").modal('hide');
            }
        });
    });
    
    // edit
    $("#objek_undangan_pemelihan_blok").on("click",".penawaran_update",function() {
        showModal({
            formURL: "/pasca_seleksi/pasca_seleksi/modal_update_undangan_p_blok/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/pasca_seleksi/api/v1/blok/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_undangan_pemilihan_block(document.getElementById('item_lelang').value)
            }
        })
    });

    $("#objek_pemilihanblok").on("click",".penawaran_update",function() {
        showModal({
            formURL: "/pasca_seleksi/pasca_seleksi/modal_update_pemilihan_blok/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/pasca_seleksi/api/v1/pemilihan_blok/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_pemilihan_block(document.getElementById('item_lelang').value)
            }
        })
    });

    $("#objek_pemilihanblok_update").on("click",".penawaran_update",function() {
        showModal({
            formURL: "/pasca_seleksi/pasca_seleksi/modal_update_pemilihan_blok/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/pasca_seleksi/api/v1/pemilihan_blok/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_pemilihan_block_update(document.getElementById('item_lelang').value)
            }
        })
    });

    $("#objek_draft_ba").on("click",".ba_update",function() {
        showModal({
            formURL: "/pasca_seleksi/pasca_seleksi/modal_update_ba_p_blok/"+this.id+"/"+ document.getElementById('item_lelang').value+"/",
            drfURL: "/pasca_seleksi/api/v1/berita_acara/"+this.id+"/",
            method: "PUT",
            onSuccess: function(response) {
                $("#modal").modal('hide');
                loadData_ba_pemilihan_block(document.getElementById('item_lelang').value)
            }
        })
    });
    
    // hapus
    $("#objek_undangan_pemelihan_blok").on("click",".penawaran_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/pasca_seleksi/api/v1/blok/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadData_undangan_pemilihan_block(document.getElementById('item_lelang').value)
                });
            }
        });
    });

    $("#objek_pemilihanblok").on("click",".penawaran_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/pasca_seleksi/api/v1/pemilihan_blok/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadData_pemilihan_block(document.getElementById('item_lelang').value)
                });
            }
        });
    });

    // $("#objek_undangan_pemelihan_blok").on("click","._delete",function() {
    //     deleteData({id: this.id, 
    //         drfURL: '/persiapan/api/v1/persiapan_dokumen/',
    //         onSuccess: function(data) {
    //             swal.fire({
    //                 title: "Data Terhapus !",
    //                 text: "",
    //                 icon: "success"
    //             }).then(function() {
    //             });
    //         }
    //     });
    // });

    $("#objek_draft_ba").on("click",".ba_delete",function() {
        deleteData({id: this.id, 
            drfURL: '/pasca_seleksi/api/v1/berita_acara/',
            onSuccess: function(data) {
                swal.fire({
                    title: "Data Terhapus !",
                    text: "",
                    icon: "success"
                }).then(function() {
                    loadData_ba_pemilihan_block(document.getElementById('item_lelang').value)
                });
            }
        });
    });
    // ditambahin//
});

</script>
{% endblock %}