{% load widget_tweaks %}
<form name="item_lelang" id="item_lelang" method="POST" >
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Form Pemilihan Blok Pita Frekuensi Radio</h5>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        
                            {% csrf_token %}
                            <div style="display: none;">
                                {% render_field form.pilih_block %}
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group ">
                                        <label for="id_nomor"  class="nama_label">Nama Blok</label>
                                        {% render_field form.blok|add_class:"form-checkbox" %}
                                    </div>
                                </div>
                            </div>
                           
                    </div>  
                </div>              
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary btn-block" data-dismiss="modal"><i class="fa fa-ban fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Batal</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block" value="Simpan"><i class="fa fa-floppy-disk fa-lg "></i>&nbsp;&nbsp;&nbsp;&nbsp;Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</form>

<script>
    $(document).ready(function() {
        $('#modal').on('shown.bs.modal', function() {
            console.log("Modal loaded!");
            var $selectElement = $('#id_nama_perusahaan');
            var bidderValue = $('#tricky_user_bidder_id').attr('text');
            $selectElement.val(bidderValue);
        });
    });
</script>