{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% load judul_tags %}

{% block extrahead %}
<style>

</style>
{% endblock %} 
{% block navbar %}
{% include 'new_index/parts/navbar_kosong.html' %}
{% endblock %}
{% block konten_isi %}

    {% if user_type == "C" %}
    {% add_judul_auctioner user.id item_lelang.id "/pasca_seleksi/settings/" "Pengelolaan Setting Paska Seleksi" %}
    {% elif user_type == "V" %}
    {% add_judul_viewer user.id item_lelang.id "/pasca_seleksi/settings/" "Pengelolaan Setting Paska Seleksi"%}
    {% elif user_type == "A" %}
    {% add_judul_admin user.id item_lelang.id "/pasca_seleksi/settings/" "Pengelolaan Setting Paska Seleksi" %}
    {% endif %}
                     
    {% include "tabs_all.html" %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}
<script>
        var item_lelang;
    $(document).ready(function() {
        {% include "js/js_temp_all.html" %}
        function loadPemenang(id) {
            $.ajax({
                url: '/pasca_seleksi/pasca_seleksi/pemilihan_blok2/'+id + '/',
                method: "GET",
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    var table = $("#objek_pemilihanblok_dummy");
                    table.empty();
                    table.append(data);
                }
            });
        }

        var id = $("#nmlelang").val();
        loadPemenang(id);
        $("#init_smra_btn").on("click",function() {
            swal.fire({
                title: "Impor Pemenang Lelang SMRA",
                text: "Mengambil data dari Hasil Pemenang Lelang SMRA Untuk Seleksi Ini",
                icon: "success",
                showCancelButton: true,
            }).then((result)=> {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/pasca_seleksi/api/v1/pemilihan_blok/'+$("#nmlelang").val()+'/init/?source=SMRA',
                        method: "GET",
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (data) {
                            var id = $("#nmlelang").val();
                            loadPemenang(id);
                            swal.fire("Pengambilan data Selesai")
                        }
                    });
                }
            });
        })    
           
    });
    
</script>
{% endblock %}