<div class="card">
    <div class="card-body">
        <div class="col">
            {% comment %} <table  id="objek_pemilihanblok" class="dt" style="width: 100%"> {% endcomment %}
            <table  id="objek_pemilihanblok_dummy" class="dt" style="width: 100%">
                <thead>
                    <tr>
                        <th>Obyek Seleksi</th>
                        <th>Blok ke</th>
                        <th>Pemenang</th>
                        <th>Harga Penawaran</th>
                        <th>Peringkat Harga</th>
                        <th>Blok Yang Dipilih</th>
                            
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div> 