<!-- <footer class="footer_bg text-white">
    <div class="row">
        <div class="col text-center pt-5 pb-5"><h2>e-Auction</h2></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 pl-5">
            <div class="row h6">
                <div class="col">
                Kantor Pusat Ditjen SDPPI
                </div>
            </div>
            <div class="row">
                <div class="col small">
                Jalan Medan Merdeka Barat No.17, <br/>
                Gedung Sapta Pesona, RT.2/RW.3, <br/>
                Gambir, Kecamatan Gambir, Kota </br>
                Jakarta Pusat, Daerah Khusus Ibukota </br>
                Jakarta 10110
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="row h6">
                <div class="col">
                    Kantor Pusat Ditjen SDPPI
                </div>
            </div>
            <div class="row">
                <div class="col small">
                Jalan Medan Merdeka Barat No.17, <br/>
                Gedung Sapta Pesona, RT.2/RW.3, <br/>
                Gambir, Kecamatan Gambir, Kota </br>
                Jakarta Pusat, Daerah Khusus Ibukota </br>
                Jakarta 10110
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="row h6">
                <div class="col">
                    Kantor Pusat Ditjen SDPPI
                </div>
            </div>
            <div class="row">
                <div class="col small">
                    Jalan Medan Merdeka Barat No.17, <br/>
                Gedung Sapta Pesona, RT.2/RW.3, <br/>
                Gambir, Kecamatan Gambir, Kota </br>
                Jakarta Pusat, Daerah Khusus Ibukota </br>
                Jakarta 10110
                </div>
            </div>
        </div>
    </div>        
    <div class="row">
        <div class="col-sm-9 ml-3 fs-6 p-3 small" style="background-color: rgba(0, 0, 0, 0.2);">
        © Direktorat Jenderal Sumber Daya dan Perangkat Pos dan Informatika
        </div>
        <div class="small col-sm-2 fs-6 p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Indonesia
        </div>
    </div>
    
  </footer> -->
  <!-- Footer -->

  <!-- FOOTER UPDATE -->
  {% load static %} 
  {% block extrahead %}
  <script src="https://kit.fontawesome.com/45fe4c1444.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
  {% endblock %}

  <footer class="text-white footer_bg">
    <div class="container py-4 py-lg-5">
        <div class="row">
            <div class="col" style="padding-bottom: 68px;">
                <h1 style="text-align: center;font-family: Inter, sans-serif;">e-Auction</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-lg-4 text-center text-lg-left d-flex flex-column item">
                <h3 class="font-weight-bold" style="font-size: 1rem;font-family: Inter, sans-serif;">Hubungi Kami<br></h3>
                <p style="font-size: 12px;font-family: Inter, sans-serif;color: white;margin-bottom: 12px;"><i class="fa-solid fa-phone"></i> 159<br></p>
                <p style="font-size: 12px;font-family: Inter, sans-serif;color: white;margin-bottom: 12px;"><i class="fa-solid fa-envelope"></i> callcenter_sdppi@kominfo.go.id<br></p>
                <p style="font-size: 13px;font-family: Inter, sans-serif;color: white;margin-bottom: 12px;"><i class="fa-solid fa-calendar-days"></i> Senin - Jumat<br></p>
                <p style="font-size: 12px;font-family: Inter, sans-serif;color: white;margin-bottom: 12px;"><i class="fa-solid fa-clock"></i> 07.00 - 17.00 WIB<br></p>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-4 text-center text-lg-left d-flex flex-column item">
                <h3 class="font-weight-bold" style="font-size: 1rem;font-family: Inter, sans-serif;">Kantor Pusat Ditjen SDPPI<br></h3>
                <p style="font-size: 12px;color: rgb(150,150,150);font-family: Inter, sans-serif;">Jalan Medan Merdeka Barat No.17, Gedung Sapta Pesona, RT.2/RW.3, Gambir, Kecamatan Gambir, Kota Jakarta Pusat, Daerah Khusus Ibukota<br>Jakarta 10110</p>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column item">
                <ul class="list-unstyled">
                    <li></li>
                </ul>
                <div class="row">
                    <div class="col offset-lg-3"><img src="{% static 'img/kominfo_logo.png' %}" width="67" height="87"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 col-lg-4 text-center text-lg-left d-flex flex-column item">
                <h3 class="font-weight-bold" style="font-size: 1rem;font-family: Inter, sans-serif;">Sosial Media<br></h3>
                <div class="row">
                    <div class="col-lg-3"><i class="fa-brands fa-square-facebook"></i></div>
                    <div class="col-lg-3"><i class="fa-brands fa-instagram"></i></div>
                    <div class="col-lg-3"><i class="fa-brands fa-twitter"></i></i></div>
                    <div class="col-lg-3"><i class="fa-brands fa-youtube"></i></div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-4 text-center text-lg-left d-flex flex-column item">
                <h3 class="font-weight-bold" style="font-size: 1rem;font-family: Inter, sans-serif;">Pelayanan Ditjen SDPPI<br></h3>
                <p style="font-size: 12px;color: rgb(150,150,150);font-family: Inter, sans-serif;">Menara Danareksa Lt. 15, Jl. Medan&nbsp;<br>Merdeka Selatan No. 14, Gambir, Jakarta&nbsp;<br>Pusat 10110<br></p>
            </div>
            <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column item">
                
            </div>
        </div>
     
    </div>
    <div class="d-flex justify-content-between pt-3" style="background: #1c1c1c;display: none;">
        <div class="container">
            <div class="row" style="margin-right: 20px;margin-left: 20px;">
                <div class="col">
                    <p style="color: rgb(41,152,255);font-size: 12px;font-family: Inter, sans-serif;">© Direktorat Jenderal Sumber Daya dan Perangkat Pos dan Informatika<br></p>
                </div>
                <div class="col">
                    <p style="display: block;font-size: 12px;font-family: Inter, sans-serif;text-align: right;"><i class="flag flag-indonesia"></i> Indonesia<br></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block script %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}