<nav class="navbar navbar-light justify-content-between" style="background-color: #007bff;">
        
  <div style="display: flex; align-items: center;">
      <img src="/static/img/e uaction logo.png" alt="Gambar" class="bulat">
      <!-- <a class="navbar-brand" style="color: white; margin-left: 10px;" href="#">e-Auction</a> -->
  </div>
  
  <div>
      <div class="btn-group" style="display: flex; align-items: center;">

          <i class="fa fa-bell" style="color: white;" aria-hidden="true"></i>

          <img src="https://static.vecteezy.com/system/resources/previews/005/005/788/original/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg" style="width: 30px; height:30px; margin-left: 15px;" alt="Gambar" class="rounded-circle dropdown-toggle">
          
          <div style="margin-left: 5px; margin-right: 30px;">
              <p style="margin: 0px; font-size: 12px; font-weight: bold; color: white;">Admin</p><p class="text_putih" style="margin: 0px; font-size: 8px; color: white;  ">John</p>
          </div>

          <i class="fa fa-chevron-down" style="color: white;" aria-hidden="true" data-toggle="dropdown"></i>

          <div class="dropdown-menu dropdown-menu-right">
              <!-- <a class="dropdown-item" href="/userman/profile">My profile</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/accounts/logout">Logout</a>
          </div>
      </div>
  </div> 
</nav>