{% extends 'new_index/base1.html' %}
{% load widget_tweaks %}
{% load static %}
{% block extrahead %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src="https://kit.fontawesome.com/45fe4c1444.js" crossorigin="anonymous"></script>
<style>
  body {
margin: 0;
{% comment %} background: url('{% static "img/eauction_bg.png" %}') no-repeat; {% endcomment %}
padding: 0;
height: 100vh;
font-family: sans-serif;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background: radial-gradient(circle, rgba(19,109,232,1) 57%, rgba(49,165,255,1) 100%);
}

@media screen and (max-width: 600px) {
body {
background-size: cover;
background-attachment: fixed;
}
}

#particles-js {
height: 100%;
}

.loginBox {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 350px;
min-height: 200px;
background: #f6f8fc;
border-radius: 10px;
padding: 40px;
box-sizing: border-box;
box-shadow: 0 0px 4px rgb(197, 197, 197);
}

.loginBox input {
width: 100%;
margin-bottom: 20px;
}

.inputBox {
position: relative;
}
@media (max-width: 900px) {
  .navbar {
    transform: translateY(-100%);
    display: none;
   
  }
}
.swal2-confirm.swal2-styled{
  background-color:#0d6efd;
}
.errorlist ul.errorlist {
  padding-bottom:10px;
  
}
.errorlist, .errorlist ul {
  list-style-type: none;
  padding-left: 0;
}




</style>

{% endblock %}
{% block navbar %}
{% include 'new_index/parts/navbar_admin.html' %}
{% endblock %}
{% block content %}
      
        <!-- <div class="loginBox">
          <form method="post" style="margin-bottom: 70px; margin-top:10px;">
            {% csrf_token %}
            <h4 class="card-title" style="font-family: Inter, sans-serif; font-size:18px; color: #04195B; font-weight:100; margin-bottom: 40px;"><a href="/accounts/login/" style="color:black; text-decoration: none;"><i class="fa-solid fa-arrow-left"></i>    Lupa Kata Sandi</a><br></h4>
            <h6 class="text-muted card-subtitle mb-2" style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: rgb(4,25,91); font-weight:100;">Masukkan Kata Sandi Baru<br></h6>
            <div class="row">
                <div class="col" style="margin-top: 15px;margin-bottom: 23px;display: grid;">
                  {% render_field form.new_password1 class="form-control" placeholder="change password" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px;" %}
                  <input type="password" class="form-control" placeholder="change password" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px;">
                </div>
             
            </div>
            <h6 class="text-muted card-subtitle mb-2" style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: rgb(4,25,91); font-weight:100;">Konfirmasi Sandi<br></h6>
            <div class="row">
                <div class="col" style="margin-top: 15px;margin-bottom: 23px;display: grid;">
                   {% render_field form.new_password2 class="form-control" placeholder="Confirm password" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px;" %}
                  <input type="password" class="form-control" placeholder="Confirm password" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px;">
                </div>
             
            </div>
            <div class="row">
                <div class="col" style="display: grid;"><button class="btn btn-primary masuk" type="submit" style="border-color: 007bff;color: rgb(255,255,255);font-size:14px;">Simpan Sandi</button></div>
            </div>
            <br>  
            <div class="text-center">
          </div>
          {% if form.errors %}
                    <p style="font-size:12px;">Kata sandi ini terlalu pendek. Kata Sandi harus mengandung setidaknya 8 karakter.</p>
          {% endif %}
          </form>
       
      </div> -->
     
      <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="row justify-content-center">
                {% comment %} <div class="col-md-8">
                    <div class="card"  style="border-radius: 100px;">
                        <!-- <div class="card-body" style="border-radius: 20px;background: #f6f8fc;">  -->
                          <img src="{% static 'img/eauction_images.png' %}" alt="login" class="login-card-img img-fluid"  style="border-radius: 20px; box-shadow: 0 0px 2px #d3d3d3;">
                        <!-- </div> -->
                    </div>
                </div> {% endcomment %}
                <div class="col-md-7 col-lg-5 col-xl-4">
                    <div class="card h-100" style="border-radius: 100px; border-radius: 20px; box-shadow: 0 1px 5px #c7c7c7;">
                        <div class="card-body" style="background: #f6f8fc;border-radius: 20px;display: block; padding:30px; box-shadow: 0 0px 2px #d3d3d3;">
                        
                          <form method="post" style="margin-bottom: 0px;">
                            {% csrf_token %}
                            <h4 class="card-title" style="font-family: Inter, sans-serif; font-size:18px; color: #04195B; font-weight:100; margin-bottom: 30px;"><a href="/accounts/login/" style="color:black; text-decoration: none;"><i class="fa-solid fa-arrow-left"></i> Ubah Kata Sandi</a><br></h4>
                            {% if form.errors %}
                            <h6 class=" card-subtitle " style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: red; font-weight:300; margin-left: 5px;">Kata Sandi awal<br></h6>
                            <div class="row">
                                <div class="col" style="margin-top: 6px;margin-bottom: 23px;display: grid;">
                                  {% render_field form.old_password class="form-control" placeholder="Masukkan Kata Sandi awal"  id="pass1" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px; border-color: red;" %}
                                  <i class="fa-solid fa-eye" id="togglePassword" style=" position:  absolute; cursor: pointer; top: 114px; right: 46px; width: 24px;"></i>
                                </div>
                             
                            </div>
                            
                            <h6 class=" card-subtitle " style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: red; font-weight:300; margin-left: 5px;">Kata Sandi <br></h6>
                            <div class="row">
                                <div class="col" style="margin-top: 6px;margin-bottom: 23px;display: grid;">
                                  {% render_field form.new_password1 class="form-control" placeholder="Masukkan Kata Sandi" id="pass2" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px; border-color: red;" %}
                                  <i class="fa-solid fa-eye" id="togglePassword2" style=" position:  absolute; cursor: pointer; top: 198px; right: 46px; width: 24px;"></i>
                                </div>
                             
                            </div>
                            <h6 class=" card-subtitle " style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: red; font-weight:300; margin-left: 5px;">Re-Kata Sandi <br></h6>
                            <div class="row">
                                <div class="col" style="margin-top: 6px;margin-bottom: 23px;display: grid;">
                                   {% render_field form.new_password2 class="form-control" placeholder="Masukkan Re-Kata Sandi " id="pass3" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px; border-color: red;" %}
                                   <i class="fa-solid fa-eye" id="togglePassword3" style=" position:  absolute; cursor: pointer; top: 281px; right: 46px; width: 24px;"></i>
                                </div>
                             
                            </div>
                            {% else %}
                           
                            
                            <h6 class="text-muted card-subtitle " style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: rgb(4,25,91); font-weight:300; margin-left: 5px;">Kata Sandi awal<br></h6>
                            <div class="row">
                                <div class="col" style="margin-top: 6px;margin-bottom: 23px;display: grid;">
                                  {% render_field form.old_password class="form-control" placeholder="Masukkan Kata Sandi awal"  id="pass1" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px;" %}
                                  <i class="fa-solid fa-eye" id="togglePassword" style=" position:  absolute; cursor: pointer; top: 114px; right: 46px; width: 24px;"></i>
                                </div>
                             
                            </div>
                            
                            <h6 class="text-muted card-subtitle " style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: rgb(4,25,91); font-weight:300; margin-left: 5px;">Kata Sandi <br></h6>
                            <div class="row">
                                <div class="col" style="margin-top: 6px;margin-bottom: 23px;display: grid;">
                                  {% render_field form.new_password1 class="form-control" placeholder="Masukkan Kata Sandi" id="pass2" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px;" %}
                                  <i class="fa-solid fa-eye" id="togglePassword2" style=" position:  absolute; cursor: pointer; top: 198px; right: 46px; width: 24px;"></i>
                                </div>
                             
                            </div>
                            <h6 class="text-muted card-subtitle " style="margin-bottom: 0px;font-family: Inter, sans-serif;font-size: 12px;color: rgb(4,25,91); font-weight:300; margin-left: 5px;">Re-Kata Sandi <br></h6>
                            <div class="row">
                                <div class="col" style="margin-top: 6px;margin-bottom: 23px;display: grid;">
                                   {% render_field form.new_password2 class="form-control" placeholder="Masukkan Re-Kata Sandi " id="pass3" style="background-color: #fff;font-size:12px; font-weight:500; height: 45px; border-radius: 10px;" %}
                                   <i class="fa-solid fa-eye" id="togglePassword3" style=" position:  absolute; cursor: pointer; top: 281px; right: 46px; width: 24px;"></i>
                                </div>
                             
                            </div>
                            {% endif %}
                            <p style="font-size: 12px; text-align: justify;"> Pastikan Kata Sandi yang Anda gunakan sudah aman. Kata Sandi harus memuat setidaknya 8 karakter dengan kombinasi huruf, huruf kapital, angka serta tanda baca.</p>

                            <div class="row">
                                <div class="col" style="display: grid;"><button class="btn btn-primary masuk" type="submit" style="border-color: 007bff;color: rgb(255,255,255);font-size:14px;">Simpan Sandi</button></div>
                            </div>
                            <div class="row">
                              <div class="col " style="display: grid;padding-top: 20px;"><a href="accounts/login/" class="btn w-100"  style="border-color: #007bff;color: #007bff;font-size:14px; font-weight: 700;">Kembali</a></div>
                            </div>
                         
                                {% comment %} <p style="font-size:12px;">Nama user atau Password keliru</p>
                            {% endif %} {% endcomment %}
                          
                            
                            
                            {% comment %} <br>   {% endcomment %}
                            {% comment %} <div class="text-center">
                              <p style="color: #6d757d; font-family: Inter, sans-serif; font-size:12px; font-weight:lighter;"> </p>
                            </div> {% endcomment %}
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   
{% endblock %}  

{% block script %}
    {% comment %} <script>
      $(document).ready(function() {
        Swal.fire(
          'Peringatan !',
          'Mohon Ganti Kata Sandi Anda Terlebih Dahulu !',
          'warning'
        )
      const togglePassword = document
          .querySelector('#togglePassword');
      const password = document.querySelector('#pass1');
      togglePassword.addEventListener('click', () => {
          // Toggle the type attribute using
          // getAttribure() method
          const type = password
              .getAttribute('type') === 'password' ?
              'text' : 'password';
          password.setAttribute('type', type);
          // Toggle the eye and bi-eye icon
          //this.classList.toggle('fa-eye-slash');
      });
      const togglePassword2 = document.querySelector('#togglePassword2');
      const password2 = document.querySelector('#pass2');
      togglePassword2.addEventListener('click', () => {
         
          const type = password2
              .getAttribute('type') === 'password' ?
              'text' : 'password';
          password2.setAttribute('type', type);
      });

      const togglePassword3 = document.querySelector('#togglePassword3');
      const password3 = document.querySelector('#pass3');
      togglePassword3.addEventListener('click', () => {
         
          const type = password3
              .getAttribute('type') === 'password' ?
              'text' : 'password';
          password3.setAttribute('type', type);
      });
     
      const formErrors = "{{ form.errors|escapejs }}";
  
      if (formErrors.includes("old_password") || formErrors.includes("new_password2")) {
        const errorMessages = [
            "Kata sandi terlalu singkat. Kata sandi harus memuat setidaknya 8 karakter."
        ];

        const customErrorMessages = {
            "Kata sandi terlalu singkat. Kata sandi harus memuat setidaknya 8 karakter.": "Kata sandi terlalu singkat. Kata sandi harus memuat setidaknya 8 karakter dengan kombinasi huruf, huruf kapital, angka serta tanda baca."
        };

        const customFieldNames = {
            "old_password": "*Pada Kata Sandi Awal:",
            "new_password2": "*Pada Kata Sandi dan Re-Kata Sandi:"
        };

        let formattedErrors = formErrors;

        for (const errorMessage in customErrorMessages) {
            formattedErrors = formattedErrors.replace(new RegExp(errorMessage, "g"), customErrorMessages[errorMessage]);
        }

        for (const fieldName in customFieldNames) {
            formattedErrors = formattedErrors.replace(new RegExp(fieldName, "g"), customFieldNames[fieldName]);
        }

        Swal.fire({
            icon: 'warning',
            title: 'Maaf',
            html: formattedErrors,
        });

        // Hide the specific error messages
        errorMessages.forEach(errorMessage => {
            const errorMessageElement = document.querySelector(`.error-message:contains("${errorMessage}")`);
            if (errorMessageElement) {
                errorMessageElement.style.display = 'none';
            }
        });
    }
     
    })
    </script> {% endcomment %}
{% endblock %}