<!DOCTYPE html>
<html class="text-nowrap text-truncate text-break" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>edit1</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>

<body style="background: #f6f8fc;color: rgb(175,179,184);">
    <div class="container" style="width: 1208px;height: 50px;background: #ffffff;margin-top: 26px;"><i class="fas fa-arrow-left" style="font-size: 17px;margin-top: 18px;"></i><button class="btn btn-primary" type="button" style="border-radius: 33px;width: 30.6px;height: 32px;margin-top: -2px;padding-top: 4px;padding-left: 9px;margin-left: 338px;">1</button>&nbsp;&nbsp;<button class="btn btn-primary" type="button" style="border-radius: 33px;width: 30.6px;height: 32px;margin-top: -2px;padding-top: 4px;padding-left: 10px;margin-left: 245px;background: #afb3b8;border-color: var(--gray);">2</button>
        <p style="width: 127px;font-weight: bold;margin-left: 666px;margin-bottom: 0px;margin-top: -27px;color: #afb3b8;"><span style="font-weight: normal !important;">Biodata User</span></p>
        <p style="width: 127px;font-weight: bold;margin-left: 522px;margin-bottom: 0px;margin-top: -27px;color: #afb3b8;">----------------</p>
        <p style="width: 127px;font-weight: bold;margin-left: 389px;margin-bottom: 0px;margin-top: -24px;color: var(--blue);">Akun Perusahaan</p>
        <div class="row" style="background: #ffffff;margin-top: 34px;height: 136px;">
            <div class="col-md-4" style="width: 380px;">
                <p style="color: var(--dark);font-weight: bold;margin-top: 24px;">User Name</p><input type="email" style="border-radius: 6px;width: 359px;height: 48px;">
            </div>
            <div class="col-md-4 col-xl-3">
                <p style="color: var(--dark);font-weight: bold;margin-top: 24px;">Password</p><input type="password" style="width: 262px;border-radius: 6px;height: 48px;">
            </div>
            <div class="col-md-4 col-xl-3">
                <p style="font-weight: bold;color: var(--dark);margin-top: 24px;">Konfirmasi Password</p><input type="password" style="width: 375px;height: 48px;border-radius: 6px;">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4" style="background: #ffffff;">
                <p style="color: var(--dark);font-weight: bold;margin-top: 24px;">Company Name</p><input type="email" style="border-radius: 6px;width: 359px;height: 48px;">
            </div>
            <div class="col-xl-3" style="background: #ffffff;">
                <p style="color: var(--dark);font-weight: bold;margin-top: 24px;">Email</p><input type="password" style="width: 262px;border-radius: 6px;height: 48px;">
            </div>
            <div class="col" style="background: #ffffff;">
                <p style="font-weight: bold;color: var(--dark);margin-top: 24px;">Tipe Akun</p><select style="width: 375px;height: 48px;border-radius: 6px;">
                    <option value="12" selected="">Bidder</option>
                    <option value="13">Users</option>
                </select>
            </div>
        </div>
        <div class="row" style="background: #ffffff;height: 183px;">
            <div class="col-xl-2">
                <p style="color: var(--dark);font-weight: bold;margin-top: 24px;">Aktivasi Akunb</p><select style="width: 179px;height: 45px;border-radius: 6px;">
                    <option value="13">Aktif</option>
                    <option value="14">Belum Aktif</option>
                </select>
            </div>
            <div class="col">
                <p style="color: var(--dark);font-weight: bold;margin-top: 24px;">Alamat Kantor Pusat</p><input type="email" style="border-radius: 6px;width: 388px;height: 115px;">
            </div>
            <div class="col">
                <p style="color: var(--dark);font-weight: bold;margin-top: 24px;">User Permission</p><input type="email" style="border-radius: 6px;width: 388px;height: 115px;">
            </div>
        </div>
        <div class="row" style="background: #ffffff;height: 101px;">
            <div class="col-xl-8"></div>
            <div class="col" style="height: 80px;"><button class="btn btn-primary" type="button" style="width: 127px;height: 45px;border-radius: 5px;margin-top: 22px;background: var(--red);border-color: var(--red);">Batal</button>&nbsp;&nbsp;<button class="btn btn-primary" type="button" style="width: 127px;height: 45px;border-radius: 5px;margin-left: 39px;margin-top: 22px;background: var(--green);border-color: var(--green);">Selanjutnya</button></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>