<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>admin-list-akun1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: #f6f8fc;">
    <div class="container"><button class="btn btn-primary" type="button" style="border-radius: 29px;margin-top: 18px;margin-left: 17px;width: 104px;height: 42px;font-weight: bold;">List Akun</button>&nbsp;&nbsp;<button class="btn btn-primary" type="button" style="border-radius: 29px;margin-top: 18px;margin-left: 17px;width: 78px;height: 42px;border-color: var(--blue);background: rgb(255,255,255);color: var(--blue);"><strong>Items</strong></button>&nbsp;&nbsp;<button class="btn btn-primary" type="button" style="border-radius: 29px;margin-top: 18px;margin-left: 17px;width: 126px;height: 42px;color: var(--blue);background: rgb(255,255,255);"><strong>Button</strong></button>
        <div class="row">
            <div class="col" style="background: #ffffff;margin-top: 23px;">
                <h1 style="font-size: 16px;height: 41.2px;margin-bottom: 8px;padding-top: 13px;">List Akun Terdaftar</h1>
            </div>
        </div>
        <div class="row">
            <div class="col" style="background: #ffffff;width: 1140px;height: 414px;">
                <div class="table-responsive d-table float-right">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Username</th>
                                <th>Nama Perusahaan</th>
                                <th>Tipe User</th>
                                <th>Status</th>
                                <th>Surat Kuasa</th>
                                <th style="text-align: left;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Telkom123</td>
                                <td>PT.Telkom Indonesia</td>
                                <td>Bidder</td>
                                <td style="font-weight: bold;color: var(--green);">Aktif</td>
                                <td style="color: var(--blue);"><i class="far fa-eye"></i>&nbsp;Lihat<a href="#"></a></td>
                                <td><i class="far fa-trash-alt" style="margin-left: 17px;"></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Sinarmas123</td>
                                <td>PT.Sinarmas</td>
                                <td>Users</td>
                                <td style="font-weight: bold;color: var(--green);">Aktif</td>
                                <td style="color: var(--blue);"><i class="far fa-eye"></i>&nbsp;Lihat</td>
                                <td><i class="far fa-trash-alt" style="font-size: 16px;margin-left: 17px;"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="background: #f6f8fc;">
                <nav style="width: 49px;">
                    <ul class="pagination">
                        <li class="page-item" style="margin-top: 1px;"><a class="page-link" href="#">1</a></li>
                    </ul>
                </nav>
                <p style="width: 77px;margin-left: 39px;margin-top: -46px;">of 1 pages</p>
                <nav style="width: 50px;">
                    <ul class="pagination">
                        <li class="page-item" style="margin-left: 118px;margin-top: -48px;"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item" style="margin-top: -48px;"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>