{% extends 'new_index/base1.html' %}
{% load static %}

{% block extrahead %}

{% endblock  %}

{% block navbar %}
{% include 'new_index/parts/navbar_kosong.html' %}
{% endblock %}

{% block konten_isi %}
<div class="container-fluid" style="padding-top: 0px;">
    <div class="row">
        <div class="col">
            <img style="height: auto; width: 100%;" src="{%static 'img/web_uc.jpg'%}" alt="">
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}

{% endblock %}

{% block script %}

{% endblock  %}