{% extends 'new_index/base1.html' %}
{% load static %}
{% block extrahead %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://kit.fontawesome.com/45fe4c1444.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
   
</head>
<style>
    .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration:none;
    }
    .sd-page.sd-body__page.sd-page__empty-header{
        background-color: white;
    }
    .sd-action-bar.sd-footer.sd-body__navigation.sd-clearfix{
        display: none;
    }
   


</style>
{% endblock %}
 
<body style="background: rgb(246,248,252);">
    {% block navbar %}
    {% include 'new_index/parts/navbar.html' %}
    {% endblock %}
    {% block konten_isi %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: left;color: var(--gray-dark);font-size: 26px;"><i class="fas fa-arrow-left" style="font-size: 27px;color: var(--dark);"></i>&nbsp;Edit Jadwal Seleksi</h1>
            </div>
        </div>
        <hr style="background: #252424;border-bottom-style: ridge;">
        <div class="row">
            <div class="col" style="background: #ffffff;">
                <div class="table-responsive" style="border-bottom-style: outset;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">No</th>
                                <th style="text-align: center;">Agenda</th>
                                <th style="text-align: center;">Edit tanggal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;background: var(--white);">1</td>
                                <td style="text-align: center;background: var(--white);">Pengumuman</td>
                                <td style="text-align: center;background: var(--white);"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: #EDF5FD;">2</td>
                                <td style="text-align: center;background: #EDF5FD;">Pengambilan Doksel</td>
                                <td style="text-align: center;background: #EDF5FD;"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: var(--white);">3</td>
                                <td style="text-align: center;background: var(--white);">Pertanyaan Doksel</td>
                                <td style="text-align: center;background: var(--white);"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: #EDF5FD;">4</td>
                                <td style="text-align: center;background: #EDF5FD;">Aanwijzing</td>
                                <td style="text-align: center;background: #EDF5FD;"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: var(--white);">5</td>
                                <td style="text-align: center;background: var(--white);">Simulasi</td>
                                <td style="text-align: center;background: var(--white);"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: #EDF5FD;">6</td>
                                <td style="text-align: center;background: #EDF5FD;">Permohonan Keikutsertaan</td>
                                <td style="text-align: center;background: #EDF5FD;"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: var(--white);">7</td>
                                <td style="text-align: center;background: var(--white);">Pemeriksaan kelengkapan</td>
                                <td style="text-align: center;background: var(--white);"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: #EDF5FD;">8</td>
                                <td style="text-align: center;background: #EDF5FD;">Verifikasi Bid Bond</td>
                                <td style="text-align: center;background: #EDF5FD;"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: var(--white);">9</td>
                                <td style="text-align: center;background: var(--white);">Hasil Evaluasi</td>
                                <td style="text-align: center;background: var(--white);"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                                <td style="text-align: center;background: var(--white);"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;background: #EDF5FD;">10</td>
                                <td style="text-align: center;background: #EDF5FD;">Sanggahan Administrasi</td>
                                <td style="text-align: center;background: #EDF5FD;"><input type="text" value="3 Maret 2023" style="background: #D3DAE0;border-radius: 7px;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                                <td style="text-align: center;background: #EDF5FD;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="background: var(--white);">
                <footer></footer>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    {% endblock %}




</body>
{% block script %}

    <script>
        $(document).ready(function() {
            var surveyJSON = {
                "title": "Pertanyaan",
                "logoPosition": "right",
                "pages": [
                    {
                    "name": "page1",
                    "elements": [
                    {
                    "type": "panel",
                    "name": "panel1",
                    "elements": [
                    {
                    "type": "text",
                    "name": "nama",
                    "title": "Nama Banner",
                    "hideNumber": true
                    },
                    {
                    "type": "comment",
                    "name": "keterangan",
                    "title": "Keterangan",
                    "hideNumber": true
                    },
                    {
                    "type": "file",
                    "name": "upload",
                    "title": "Upload Gambar",
                    "hideNumber": true,
                    "maxSize": 0
                    }
                    ]
                    }
                ],
                 }
                ],
                "showTitle": false,
                "showCompletedPage": false,
                "showPageNumbers": true,
                "showQuestionNumbers": "off",
                "questionTitleLocation": "top",
                "completeText": "Simpan",
                "widthMode": "responsive"
               };
        
               $("#form_survey").Survey({
            model: new Survey.Model(surveyJSON),
            onComplete: function (survey, options) {
                // Handle survey completion here
                console.log(survey.data);
            }
        });
        });

        $(document).ready(function() {
  $('#myButton').click(function() {
    $(this).addClass('btn-click-transform');
  });
});
function changeButtonStyle(button) {
  button.classList.toggle('button-blue');
}
    </script>
  
    {% endblock %}