{% extends 'new_index/base1.html' %}

{% block extrahead %}
<!-- <script src="httpss://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script> -->

{% endblock %}

{% block tambah_css %}
<style>
    .navbar-expand{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }

    a{
        text-decoration:none;
    }

    .odd-row {
        background-color: #edf5fd !important;
    }
    
    .even-row {
        background-color: white !important;
    }
</style>
{% endblock  %}

{% block navbar %}
{% include 'new_index/parts/navbar_kosong.html' %}
{% endblock %}

{% block konten_isi %}
<div class="jdl_menu_bg col-md-12">
    <span class="jdl_menu">Daftar Viewer</span>
</div>
<div class="container-fluid" style="padding-top: 10px; padding-left:50px;padding-right:50px;">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 0px;">
            <div class="row" style="margin-bottom: 0px;padding-bottom: 16px;">
                <div class="col-md-12" >
                    <div style="display: flex;">
                        <div class="col">
                            <div class="jdl_tab">Daftar Viewer</div>
                            <div class="jdl_sub_tab">Sistem Seleksi Pengguna Pita Frekuensi Radio</div>
                        </div>
                        <div class="col text-right">               
                            <button type="button" id="tambah_data" class="btn btn-primary" style="font-size:12px"><i class="fa-solid fa-plus-circle"></i> Tambah Viewer Baru</button>
                        </div>
                    </div>
                </div>
                <div class="card col">
                    <div class="row" style="margin:10px">
                        <table id="myTable" class="display" style="width:100%" data-server-side="true" data-ajax="/userman/api/v1/viewrs/?format=datatables">
                       
                            <thead>
                                <tr style="background-color:#032056;">
                                    <th>id</th>
                                    <th>users</th>
                                    <th>sk_pengangkatan</th>
                                    <th>Nama Pengguna</th>
                                    <th>Username</th>
                                    <th>NIP</th>
                                    <th>Jabatan</th>
                                    <th>Jabatan Dalam Tim</th>
                                    <th>SK</th>
                                    <th>Dibuat Oleh</th>
                                    <th>Diubah Oleh</th>
                                    <th width="100px">Tanggal Dibuat</th>
                                    <th width="100px">Tanggal Diubah</th>
                                    <th width="60px">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
{% include 'new_index/parts/footer_dashboard.html' %}
{% endblock %}

{% block modal %}
    <!-- modal add -->
    <div id="myModal_pdf" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Menampilkan PDF</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="form_survey"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div> 
    <!-- modal add -->

{% endblock %}

{% block script %}
{% include 'js_tambahan/js_tambahan.html' %}
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>

        function formatDate(date) {
        return moment(date).format('DD-MMM-YYYY HH:mm:ss').toUpperCase();
    }

    $(document).ready(function() {
        persiapan_data();

        $('#modal').on('shown.bs.modal', function() {
            $('.select2').select2({
                theme: 'bootstrap4', // Specify the theme here
                dropdownParent: $(this) // Use $(this) to refer to the current modal
            });
        });
    });

    // ngambil datatable + data ajax
    function persiapan_data(){
        var userTable = $('#myTable').DataTable({
            "stripeClasses": ["odd-row", "even-row"],
            "paging": true,
            "responsive": true,
            "ordering": true,
            "order": [[11, 'desc']],
            "info": true,
            "autoWidth": true,
            "searching": true,
            "scrollX": true,
            "columns": [
                { "searchable": false, data: "id", className: "d-none" },
                { "data": "users",  "searchable": false, "className": "d-none"},
                { "data": "sk_pengangkatan",  "searchable": false, "className": "d-none"},
                { "data": "nama_lengkap", "className": "text-bold font_table"},  
                { "data": "username" },   
                { "data": "nip" },
                { "data": "jabatan", "render": function (data, type, row, meta) { 
                    if (data) {
                        return '<span class="badge badge-dark">'+data+'</span>';
                    } else {
                        return "-"
                    }
                } },
                { "data": "jabatan_dalam_tim", "searchable": false, "orderable": false, "render": function(data){
                switch(data) {
                        case "pengarah":
                            return '<span class="badge bg-black">Pengarah</span>';
                            break;
                        case "pembina":
                            return '<span class="badge badge-success">Pembina</span>';
                            break;
                        case "ketua":
                            return '<span class="badge badge-primary">Ketua</span>';
                            break;
                        case "sekretaris":
                            return '<span class="badge badge-info">Seketaris</span>';
                            break;
                        case "anggota":
                            return '<span class="badge badge-secondary">Anggota</span>';
                            break;
                        default:
                            return '<span class="badge badge-info">Tidak diketahui</span>';
                    }
                }},
                { 'data': null, "render": function (data, type, row, meta) {return data?'<div><a class="btn btn-secondary btn-sm" target="_blank" href="'+row.sk_pengangkatan+'"><i class="fa fa-download"></i></a></div>':'-'}},
                { "data": "dibuat_oleh", "render": function (data, type, row, meta) { 
                    if (data) {
                        return data
                    } else {
                        return "-"
                    }
                } },
                { "data": "diubah_oleh", "render": function (data, type, row, meta) { 
                    if (data) {
                        return data
                    } else {
                        return "-"
                    }
                } },
                { "data": null, "render": function(data, type, row){
                    return formatDate(row.created);
                }},
                { "data": null, "render": function(data, type, row){
                    return formatDate(row.last_updated);
                }},  
                { 'data': null, "render": function (data, type, row, meta) { 
                    return '<div style="display:flex align-items: center; justify-content: space-between; font-size: 15px; color:white;"><button  id='+
                     row.id+' class="btn btn-sm btn-warning edit_icon"><i class="fa fa-pen-to-square text-white"></i></button> <button  id='+
                     row.id+' class="btn btn-sm btn-danger delete_icon"><i class="fa fa-trash"></i></div>'
                    } 
                },
            ],
            columnDefs:[
                { className: 'text-center font_table', targets: '_all' }
            ]
        });  

        $( "#tambah_data" ).on( "click", function() {
            console.log("tertekan");
            showModal2({
                formURL: "/userman/modal_viewer/",
                drfURL: "/userman/api/v1/viewrs/",
                csrf: '{{csrf_token}}',
                onSuccess: function(response) {
                    $("#modal").modal('toggle');
                    userTable.ajax.reload();
                }
            });        
        });

        $('#myTable tbody').on( 'click', '.edit_icon', function () {
            id = this.id
            showEditModal({
                formURL: "/userman/modal_viewer/"+id+'/',
                drfURL: "/userman/api/v1/viewrs/"+id+'/',
                csrf: '{{csrf_token}}',
                onSuccess: function(response) {
                    $("#modal").modal('toggle');
                    userTable.ajax.reload();
                }
            });      
        });

        $('#myTable tbody').on( 'click', '.delete_icon', function () {
            id = this.id
            deleteData({
                drfURL: "/userman/api/v1/viewrs/"+id+'/',
                csrf: '{{csrf_token}}',
                onSuccess: function(response) {
                    userTable.ajax.reload();
                }
            })
        });
    }
</script>
{% endblock  %}