{% load widget_tweaks %}
<div id="modal" class="modal fade show" style="display:block;" role="dialog">
	<div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Kirim Undangan Pemilihan Block</h5>
                <button type="button" class="btn"  data-dismiss="modal"><i class="fa fa-xmark fa-lg text-secondary"></i></button>
            </div>
            <div class="modal-body">
                <p id="data_modal" style="display: none;">edit_dokesel</p>
                <div class="card">
                    <div class="card-body">
                        <form name="item_lelang" id="item_lelang" method="POST" >
                            {% csrf_token %}
                            <div style="display: none;">
                                {% render_field form.item_lelang %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Nomor</label>
                                {% render_field form.nomor|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Judul</label>
                                {% render_field form.judul|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Tanggal</label>
                                <input type="date" name="tanggal" class="form-control" required="" id="id_tanggal">
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Tempat</label>
                                {% render_field form.tempat|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Agenda</label>
                                {% render_field form.agenda|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Waktu</label>
                                <input type="datetime-local" name="waktu" class="form-control" required="" id="id_waktu">
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Link Meet</label>
                                {% render_field form.link_teleconference|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Keterangan</label>
                                {% render_field form.keterangan|add_class:"form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Bidder</label>
                                {% render_field form.bidder|add_class:"form-control select2bs4" style="width: 100%;"%}
                            </div>

                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">Auctioneer</label>
                                {% render_field form.auctioneer|add_class:"form-control select2bs4" style="width: 100%;"%}
                            </div>
                            <div class="form-group">
                                <label for="id_nomor"  class="nama_label">File</label>
                                {% render_field form.link_file|add_class:"form-control" %}
                            </div>
                            <div class="form-group" style="display: none;">
                                <label for="id_nomor"  class="nama_label">Owner</label>
                                <select name="owner" class="form-control" id="id_owner">
                                    <option value="SMRA" selected>SMRA</option>
                                </select>
                            </div>
                            <div class="">
                                <input type="submit" class="btn btn-primary" value="Submit" align="right">
                            </div>
                        </form>
                    </div>  
                </div>              
            </div>
        </div>
    </div>
</div>